@using Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ListSanPham = ViewBag.sanpham;

}


    <div class="container clearfix pf-Man">
        @if (ListSanPham.Count > 0)
        {
            <div id="shop" class="shop grid-container clearfix">
                @foreach (var item in ListSanPham)
                {
                    <div class="product clearfix pf-dress" onclick="UpdateView(@item.Id)">
                        <div class="product-image">
                            <input value="@item.NamePro" name="NamePro" hidden />
                            <a href=""><img src="~/FileUploaded/@item.Image" alt="Checked Short Dress" name="Image"></a>
                            <a href="@Url.Action("Index","ChiTietSanPham", new { Id = item.Id })"><img src="~/FileUploaded/@item.Image1" alt="Checked Short Dress"></a>
                            <div class="sale-flash">@item.Discount% Off*</div>
                            <div class="product-overlay">
                                <a href="javascript:void(0);" onclick="SaveGioHang(@item.Id , @item.PriceNew , '@item.NamePro' , '@item.Image')" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
                                <a href="@Url.Action("Index","ChiTietSanPham", new { Id = item.Id })" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
                            </div>
                        </div>
                        <div class="product-desc">
                            <div class="product-title"><h3><a href="#" class="product-link">@item.NamePro</a></h3></div>
                            <div class="d-flex justify-content-sm-between">
                                <div class="product-price"><del>@item.Price.ToString("N0")đ</del> <ins>@item.PriceNew.ToString("N0")đ</ins></div>
                                <div class="product-review">
                                    <p>
                                        <i class="fa fa-eye" aria-hidden="true">@item.View</i>
                                    </p>
                                </div>
                            </div>


                        </div>
                    </div>
                }
            </div>
        }
        <!-- #shop end -->

    </div>
