@using Models
@{
    ViewBag.Title = "DSSanPham";
    Layout = null;
    var ListSanPham = ViewBag.SanPham as List<Product>;
    var UserLogin = Session["IdUser"];
}

<section id="content">
        <div class="container clearfix pf-Man">
            @if (ListSanPham.Count > 0)
            {
                <div id="shop" class="shop grid-container clearfix">
                    @foreach (var item in ListSanPham)
                    {
                        <div class="product clearfix pf-dress" onclick="UpdateView(@item.Id)">
                            <div class="product-image">
                                <input value="@UserLogin" name="IdUser" id="UserId" hidden />
                                <input value="@item.NamePro" name="NamePro" hidden />
                                <a href=""><img src="~/FileUploaded/@item.Image" alt="Checked Short Dress" name="Image"></a>
                                <a href="@Url.Action("Index","ChiTietSanPham", new { Id = item.Id })"><img src="~/FileUploaded/@item.Image1" alt="Checked Short Dress"></a>
                                <div class="sale-flash">@item.Discount% Off*</div>
                                <div class="product-overlay">
                                    <a href="javascript:void(0);" onclick="SaveGioHang(@item.Id , @item.PriceNew , '@item.NamePro' , '@item.Image')" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Thêm Giỏ Hàng</span></a>
                                    <a href="@Url.Action("Index","ChiTietSanPham", new { Id = item.Id })" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Chi Tiết</span></a>
                                </div>
                            </div>
                            <div class="product-desc">
                                <div class="product-title"><h3><a href="#" class="product-link">@item.NamePro</a></h3></div>
                                <div class="d-flex justify-content-sm-between">
                                    <div class="product-price"><del>@item.Price.ToString("N0")đ</del> <ins>@item.PriceNew.ToString("N0")đ</ins></div>
                                    <div class="product-review">
                                        <p>
                                            <i class="fa fa-eye" aria-hidden="true">@item.View</i>
                                        </p>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                    }
                </div>
            }
            <!-- #shop end -->

        </div>
</section>
    

<div class="donu-next">
    <div class="d-flex pb-3 pt-3">
        @Html.Raw(ViewBag.HtmlPaging)
    </div>
</div>

<script>
    function ToastMessage(title, message, type) {
        toast({
            title: title,
            message: message,
            type: type,
            duration: 5000
        });
    }

    function UpdateView(Id) {
        $.ajax({
            url: "/Product/UpdateView",
            method: "POST",
            data: { Id: Id },
            success: function (res) {
                // Xử lý khi kết quả trả về thành công
            },
            error: function (jqXHR, textStatus, errorThrown) {
                // Xử lý khi có lỗi xảy ra trong quá trình gửi Ajax
            }
        });
    }


    var idUser = $("#UserId").val();
    function SaveGioHang(Id, PriceNew ,NamePro ,Image) {
        debugger
        if ($("#UserId").val() == 0) {
            ToastMessage("Thông báo", "Vui lòng đăng nhập!", "warning");
        }
        else {
            $.ajax({
                url: "/GioHang/ThemMoi",
                type: "post",
                dataType: "json",

                data: {
                    ProductId:Id,
                    UserId: idUser,
                    Image:Image,
                    ProductName: NamePro,
                    Price: PriceNew,
                    Quantity: 1,
                    ColorId: 1,
                    SizeId:2,
                    
                },

                success: (data) => {
                    if (data.type == "success") {
                        ToastMessage("Thông báo", "Thêm sản phẩm thành công", "success");



                    }
                    else {
                        ToastMessage("Lỗi", "Thêm sản phẩm thất bại", "error");

                    }
                }
            })
            
            
        }
    }
</script>
