
@{
    ViewBag.Title = "_Sua";
    Layout = null;
    var ChiTiet = ViewBag.ChiTiet;
}

<input type="hidden" value="@ChiTiet.Id" id="IdAlbum" />
<input type="hidden" value="@ChiTiet.Image" id="AnhDaiDienSua" />
<input type="hidden" value="@ViewBag.lstAmh " id="JsonDanhSachAnh" />
<div class="row">
    <div class="panel" style="margin-top: 10px !important;">
        <div class="panel-body">
            <div style="padding: 10px;">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12  mb-3">
                        <div class="form-group">
                            <label>Mô tả<span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control" placeholder="" id="txtMoTaSua" value="@ChiTiet.MoTa">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12  mb-3">
                        <div class="form-group">
                            <label>Chuyên mục<span class="text-danger">(*)</span></label>
                            <select class="form-control" id="slChuyenMucChaSua">
                                @Html.Raw(ViewBag.optionSelected)
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12  mb-3">
                        <div class="form-group">
                            <label>Ngày phát hành<span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control" placeholder="" id="txtNgayPhatHanhSua" value="@(ChiTiet.NgayPhatHanh!=null?((DateTime)ChiTiet.NgayPhatHanh).ToString("dd-MM-yyyy HH:mm"):"")">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12  mb-3  dp-flex">
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="ckHienThiSlideSua" @(ChiTiet.IsHienThi == 1 ? "checked" : "")>
                                <label class="form-check-label" for="ckHienThiSlideSua">
                                    Hiển thị slide
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12  mb-3">
                        <div>
                            <label class="form-label">Ảnh đại diện  <a class="btn btn-outline-primary waves-effect waves-light btn-xs" onclick="ChonAnhDaiDienSua()" title="Chọn"><i class="ri-add-line"></i></a></label>
                            @if (!string.IsNullOrEmpty(ChiTiet.Image))
                            {
                                <div class="dropzoneAnhDaiDien dropSua" id="dropzoneAnhDaiDienSua">
                                    <img src="@ChiTiet.Image" />
                                </div>
                            }
                            else
                            {
                                <div class="dropzoneAnhDaiDien" id="dropzoneAnhDaiDienSua">
                                    <div style="padding: 50px;">Ảnh đại điện</div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12  mb-3">
                        <div>
                            <label class="form-label">Ảnh trong ablum  <a class="btn btn-outline-primary waves-effect waves-light btn-xs" onclick="ThemAnhTrongAlbum()" title="Chọn"><i class="ri-add-line"></i></a></label>
                            <div class="row DataViewAnhAlbum">
                                @if (ChiTiet.DanhSachAnh != null)
                                {
                                    foreach (var item in ChiTiet.DanhSachAnh)
                                    {
                                        {
                                            var GuildId = Guid.NewGuid().ToString();
                                            <div class="col-lg-6" id="@item.GuildId">
                                                <div class="card border">
                                                    <div class="card-body">
                                                        <div class="d-sm-flex">
                                                            <div class="flex-shrink-0">
                                                                <img src="@item.FileImage" class="StyleImage rounded-1" alt="">
                                                            </div>
                                                            <div class="flex-grow-1 ms-sm-4 mt-3 mt-sm-0">
                                                                <h6><a href="javascript:void(0);">@item.MoTa</a><i class="ri-delete-bin-line text-danger" onclick="XoaAnhAlbum('@item.GuildId')"></i></h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#txtNgayPhatHanhSua").flatpickr({
        static: true,
        enableTime: true,
        dateFormat: "d-m-Y H:i",
    });

    var UrlAnhDaiDienSua = "";

    $(document).ready(function () {
        var JsonAnh = [];
        lstAnhAblum = [];
        JsonAnh = JSON.parse($("#JsonDanhSachAnh").val());
        if (JsonAnh.length > 0) {
            [...JsonAnh].map((el, index) => {
                var data = {
                    Id: el.Id,
                    FileImage: el.FileImage,
                    MoTa: el.MoTa,
                    RowId: el.GuildId
                }
                lstAnhAblum.push(data);
            })
        }
        UrlAnhDaiDienSua = $("#AnhDaiDienSua").val();
    })

    $("#slChuyenMucChaSua").select2({
        dropdownParent: $('#ModelSua')
    })
    function ChonAnhDaiDienSua() {
        var finder = new CKFinder();
        finder.selectActionFunction = function (url) {
            UrlAnhDaiDienSua = url;
            $("#dropzoneAnhDaiDienSua").empty();
            $("#dropzoneAnhDaiDienSua").html(`<img src="${url}"/>`);
            $("#dropzoneAnhDaiDienSua").addClass("dropSua");
        }
        finder.popup();
    }
</script>