@using Models
@using Newtonsoft.Json;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listGH = ViewBag.listGioHang as List<GioHang>;
    tbl_UserModel UserLogin = (tbl_UserModel)Session[Constants.SSUserInforKH];

}
<div class="container">
    <div class="row">
        <div class="col-md-7 " style=" margin-top: 30px;">
            <h3 class="block-title"><i class="fa fa-user" aria-hidden="true"></i> THÔNG TIN NGƯỜI NHẬN</h3>
            <div class="block block-white  block-bordered">


                <p class="alert alert-info">Bạn vui lòng điền thông tin của bạn vào form dưới đây để chúng tôi có thể giao hàng đến tận tay cho bạn.</p>

                <div id="loginform" class="alert alert-info" style="display: none;">
                    <a href="#loginform" class="close btn-toggle" data-dismiss="alert" aria-hidden="true">&times;</a>

                    <div class="form-inline">
                        <p id="status" style="color: orangered; font-weight:bold;"></p>

                        <div class="form-group">
                            <input placeholder="Mật khẩu..." />
                        </div>
                        <div class="form-group">
                            <input placeholder="Mật khẩu..." />
                        </div>
                        <div class="form-group">
                            <a id="btnLogin" class="btn btn-success"><i class="fa fa-sign-in"></i> Đăng nhập</a>
                        </div>
                    </div>
                    <hr />

                </div>


                <!-- Thông tin người nhận -->
                <form id="form-dathang">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-8">
                                <label class="control-label col-xl-4">Họ và tên</label>
                                <input type="text" class="form-control" placeholder="Nhập tên người nhận hàng..." value="@UserLogin.UserName" name="NameReceiver" />
                                <input value="@UserLogin.ID" id="txtname" name="IdUser" hidden/>

                            </div>
                            <div class="col-md-8">
                                <label class="control-label col-xl-4">Số điện thoại</label>
                                <input type="text" class="form-control" id="txtsdt" placeholder="Số điện thoại..." value="@UserLogin.Phone" name="Phone" />
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-8 ">
                                <label class="control-label col-xl-4">Địa chỉ</label>
                                <input type="text" class="form-control" id="txtdiachi" placeholder="Địa chỉ nhận hàng..." name="diachi" />

                            </div>
                        </div>

                        <div class="form-group row mt-3">
                            <div class="col-md-6">
                                <label class="control-label">Quận/Huyện</label>
                                <input type="text" class="form-control" id="txtquanhuyen" placeholder="Quận/Huyện..." name="huyen" />

                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Tỉnh/Thành phố</label>
                                <input type="text" class="form-control" id="txtthanhpho" placeholder="Tỉnh/Thành phố..." name="thanhpho" />

                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Chọn nhà vận chuyển -->
            <h3 class="block-title"><i class="fa fa-truck" aria-hidden="true"></i> CHỌN NHÀ VẬN CHUYỂN</h3>
            <div class="shipping-method-list">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="shipping-method-info">
                            <h5 class="mb-1 text-primary">Tên nhà vận chuyển</h5>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                                <label class="form-check-label" for="flexCheckDefault">
                                    FashionGo.vn  / ShipCode 30k vnđ toàn quốc
                                </label>
                            </div>
                            
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>

        <div class="col-md-5" style=" margin-top: 30px;">
            <h3 class="block-title"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> THÔNG TIN ĐƠN HÀNG</h3>
            <div class="block block-white block-bordered">
                
                    <table class="table mycart">
                        <thead>
                            <tr>
                                <th>Sản phẩm</th>
                                <th class="text-center">Xóa</th>
                                <th class="text-center">Giá tiền</th>
                                <th class="text-center">Số lượng</th>
                                <th class="text-right">Thành tiền</th>

                            </tr>
                        </thead>
                        <tbody>

                            @if (listGH.Count > 0)
                            {
                                foreach (var item in listGH)
                                {
                                    <tr class="start-item ">
                                        <td rowspan="2"><img src="~/FileUploaded/@item.Image" style="width: 52px;" class="img-thumbnail" /></td>
                                        <td class="action removeProduct text-center">
                                            <a href="#" onclick="xoaSanPham(@item.Id)" class="removeProduct" title="Xóa khỏi giỏ hàng">
                                                <i class="removeProduct fa fa-close text-danger"></i>
                                            </a>
                                        </td>

                                        <td class="text-center">@item.Price.ToString("N0")<sup>đ</sup></td>
                                        <td class="text-center">
                                            <div class="d-flex">
                                                <input class="quantity-input" style="width: 30px" type="number" value="@item.Quantity" readonly />

                                            </div>
                                        </td>
                                        <td>@(((decimal)item.Price * (decimal)item.Quantity).ToString("N0"))đ</td>
                                    </tr>
                                    <tr class="end-item">
                                        <td colspan="1"><span>Màu : </span>@item.NameColor</td>
                                        <td colspan="1"><span>Size : </span>@item.NameSize</td>

                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            @{
                                decimal total = 0;
                                foreach (var item in listGH)
                                {
                                    total += item.Price * item.Quantity;
                                }
                            }
                            <tr>
                                <th id="couponbox" colspan="2" rowspan="4" style="vertical-align: top;">

                                    <label class="control-label" for="couponcode">Mã giảm giá (nếu có)</label>

                                    <div class="input-group">

                                        <input type="text" name="couponCode" id="couponCode" class="form-control" value="">
                                        <span class="input-group-btn">
                                            <button id="applyCoupon" class="btn btn-danger" type="button">
                                                Áp dụng <i class="fa fa-angle-right"></i>
                                            </button>
                                        </span>
                                    </div><!-- /input-group -->

                                    <p class="status"></p>

                                </th>
                                <th colspan="2">Tổng đơn hàng:</th>
                                <th class="text-right">
                                    <span id="totalnew" class="nn-cart-total">@total</span>đ
                                </th>
                            </tr>
                            <tr class="text-right">
                                <td colspan="2">Phí vận chuyển:</td>
                                <td id="orderTransportCost" class="text-right">30.000đ</td>
                            </tr>
                            <tr class="text-right">
                                <td colspan="2">Giảm giá: <span id="discountDescription"></span></td>
                                <td id="orderDiscount" class="text-right">0đ</td>
                            </tr>
                            <tr style="font-weight: 700; color: orangered">
                                <th colspan="2" class="text-right">Tổng thành tiền:</th>
                                <th class="text-right">
                                    <span id="totalOrder">@((@total + 30_000).ToString("N0"))đ</span>
                                </th>

                            </tr>
                        </tfoot>
                    </table>
                    <div class="form-horizontal">
                        <div class="actions">
                            <button class="btn btn-warning btn-checkout" type="button" onclick="SaveBill()">
                                <i class="fa fa-hand-o-right" aria-hidden="true"></i> Đặt Hàng
                            </button>
                            <a href="/" class="btn btn-info">
                                <i class="fa fa-cart-plus" aria-hidden="true"></i> Thêm sản phẩm khác
                            </a>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label">Ghi chú đơn hàng</label>
                                <textarea name="note" id="note" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                


            </div>
        </div>
    </div>
</div>
<script>
    function xoaSanPham(Id) {
        debugger
        if (confirm("Bạn chắc chắn muốn xóa sản phẩm này?")) {
            $.ajax({
                url: '/GioHang/Xoa',
                type: 'POST',
                data: { Id: Id },
                success: function (result) {
                    
                    ToastMessage("Thông báo", "Xóa sản phẩm thành công", "success");
                    location.reload();
                },

            });
        }
    }

    function SaveBill() {
        debugger
        var listGH = @Html.Raw(JsonConvert.SerializeObject(ViewBag.listGioHang));
        var listId = listGH.map(function (item) {
            return item.Id;
        });
        var totalnew = $("#totalnew").text();
        var nameReceiver = $("input[name='NameReceiver']").val();
        var idUser = $("input[name='IdUser']").val();
        var Phone = $("input[name='Phone']").val();
        var diachi = $("input[name='diachi']").val();
        var thanhpho = $("input[name='thanhpho']").val();
        var huyen = $("input[name='huyen']").val();

        if ($("#txtname").val() == "") {
            ToastMessage("Lỗi", "Không được để trống Tên", "error");
            return;
        }
        if ($("#txtsdt").val() == "") {
            ToastMessage("Lỗi", "Không được để trống Số điện thoại", "error");
            return;
        }
        if ($("#txtdiachi").val() == "") {
            ToastMessage("Lỗi", "Không được để trống địa chỉ", "error");
            return;
        }
        if ($("#txtquanhuyen").val() == "") {
            ToastMessage("Lỗi", "Không được để trống quận/huyện", "error");
            return;
        }
        if ($("#txtthanhpho").val() == "") {
            ToastMessage("Lỗi", "Không được để trống thành phố", "error");
            return;
        }
        $.ajax({
            type: 'POST',
            url: '/DatHang/ThemMoi',
            data: {
                ListIdCart: listId.join(','),
                NameReceiver: nameReceiver,
                IdUser: idUser,
                Phone: Phone,
                TotalNew: totalnew,
                Address: diachi + '/' + huyen + '/' + thanhpho//truyền các dữ liệu khác trong form
            },
            dataType: 'json',
            
            encode: true,
            success: function (response) {
                debugger
                
                window.location.href = `/DatHang/Index?id=${idUser}`;
            }
        });
    }




    


</script>