
@{

    var lstAnhSlide = ViewBag.lstAnhSlide;
    var responseDsAnh = ViewBag.responseDsAnh;
    var TinTucMoi = ViewBag.TinTucMoi;

}

<div class="page-content">
    <link href="~/Content/SlideShow/style.css" rel="stylesheet" />
    <!-- partial:index.partial.html -->
    <main class="Main">
        <section class="Carousel pt-2 pb-2" id="carousel" tabindex="-1">
            <h2 class="Hidden">Carousel</h2>
            @if (lstAnhSlide != null)
            {
                foreach (var itemSlide in lstAnhSlide)
                {
                    <article class="Card Card--overlay Card--square" id="@itemSlide.Id">
                        <div class="Card__media">
                            <img class="Card__image" alt="Card image description" width="480" height="480" loading="lazy" src="@itemSlide.Image" onclick="LoadChiTietAnh(@itemSlide.Id)">
                        </div>
                        <div class="Card__main">
                            <a class="Card__link" onclick="LoadChiTietAnh(@itemSlide.Id)"><h5 class="Card__heading" style=" background-color: rgb(0 0 0 / 40%); padding: 1.25rem; margin: 0; color: white;">@itemSlide.MoTa</h5></a>

                        </div>
                    </article>
                }
            }

        </section>

        <nav class="Pagination">
            <button class="Arrow last-caroul" type="button" aria-controls="carousel" disabled>
                <svg width="16" height="16" viewBox="0 0 16 16" role="presentation">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                </svg>
                <span class="Hidden">Previous slide</span>
            </button>
            <button class="Arrow pre-caroul" type="button" aria-controls="carousel" disabled>
                <svg width="16" height="16" viewBox="0 0 16 16" role="presentation">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                </svg>
                <span class="Hidden">Next slide</span>
            </button>
            <div class="Dots d-none">
                <a href="#card-1" class="Dot" tabindex="-1"><span class="Hidden">Slide 1</span></a>
            </div>
        </nav>
    </main>
    <div class="container container-mg-bt">
        <div class="row pb-3">
            <div class="col-sm-6 col-xl-9">
                <h3 class="Color-left-title ">Cùng chuyên mục</h3>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Tìm trong chuyên mục" id="txtTimKiem">
                    <button class="btn btn-secondary-search" type="button" onclick="TimKiemAnh()"><i class="ri-search-line"></i></button>
                </div>
            </div>
            <input type="hidden" value="@ViewBag.recordsTotal" id="TongBanGhi" />
            <input type="hidden" value="1" id="TrangHienTai" />
        </div>
        <div class="row" id="DataDSAnh">

            @if (responseDsAnh != null)
            {
                foreach (var itemDsAnh in responseDsAnh)
                {
                    <div class="col-sm-6 col-xl-3">
                        <div class="card card-custom">
                            <img class="card-img-top img-fluid img-card-video-audio zoom" src="@itemDsAnh.Image" alt="Card image cap" onclick="LoadChiTietAnh(@itemDsAnh.Id)">
                            <span class="@(itemDsAnh.Id==responseDsAnh[0].Id?"iconCustom_1":"iconCustom")">
                                <svg width="50" height="50" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M46 23C46 35.7025 35.7025 46 23 46C10.2975 46 0 35.7025 0 23C0 10.2975 10.2975 0 23 0C35.7025 0 46 10.2975 46 23Z" fill="white" fill-opacity="0.2"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M23 44.5625C34.9086 44.5625 44.5625 34.9086 44.5625 23C44.5625 11.0914 34.9086 1.4375 23 1.4375C11.0914 1.4375 1.4375 11.0914 1.4375 23C1.4375 34.9086 11.0914 44.5625 23 44.5625ZM23 46C35.7025 46 46 35.7025 46 23C46 10.2975 35.7025 0 23 0C10.2975 0 0 10.2975 0 23C0 35.7025 10.2975 46 23 46Z" fill="white"></path>
                                    <path d="M26.1539 20.4546V20.4549C26.1539 20.7442 26.0384 21.0217 25.8328 21.2263C25.6271 21.4309 25.3483 21.5458 25.0575 21.5458C24.7668 21.5458 24.488 21.4308 24.2824 21.2262C24.0768 21.0216 23.9613 20.7441 23.9613 20.4547C23.9613 20.1654 24.0768 19.8879 24.2824 19.6832C24.488 19.4786 24.7668 19.3637 25.0575 19.3636C25.3483 19.3636 25.6271 19.4785 25.8328 19.6831C26.0384 19.8877 26.1539 20.1652 26.1539 20.4546ZM32 16.4545V29.5455C31.9996 29.9311 31.8454 30.3008 31.5714 30.5735C31.2974 30.8462 30.9259 30.9996 30.5385 31H14.4615C14.0741 30.9996 13.7026 30.8462 13.4286 30.5735C13.1546 30.3008 13.0004 29.9311 13 29.5455V16.4545C13.0004 16.0689 13.1546 15.6992 13.4286 15.4265C13.7026 15.1538 14.0741 15.0004 14.4615 15H30.5385C30.9259 15.0004 31.2974 15.1538 31.5714 15.4265C31.8454 15.6992 31.9996 16.0689 32 16.4545ZM30.5392 26.3358L30.5385 16.4545H14.4615V24.8805L17.8127 21.5455C18.087 21.2731 18.4587 21.1201 18.8462 21.1201C19.2337 21.1201 19.6054 21.2731 19.8797 21.5455L23.9616 25.6079L25.8512 23.7273C26.1255 23.4549 26.4972 23.302 26.8847 23.302C27.2722 23.302 27.6438 23.4549 27.9181 23.7273L30.5392 26.3358Z" fill="white"></path>
                                </svg>
                            </span>
                            <div class="card-body">
                                <h5 class="card-text font-w600 wraptext-heigth" onclick="LoadChiTietAnh(@itemDsAnh.Id)">@itemDsAnh.MoTa</h5>
                            </div>
                        </div><!-- end card -->
                    </div>
                }
            }


        </div>
        <div class="row pb-3" id="BtnLoadXemThem">
            <div class="text-center">
                <button type="button" class="btn btn-outline-secondary waves-effect waves-light" onclick="LoadXemThem()">Xem thêm</button>
            </div>
        </div>


        <div class="row pb-3 pt-3">
            <div class="col-sm-12 col-xl-12">
                <h3 class="Title-TieuDe">Tin mới</h3>
            </div>
        </div>

        @if (TinTucMoi.Count > 0)
        {
            <div class="row" id="DataDSVideo">
                @foreach (var itemBV in TinTucMoi)
                {

                    <div class="col-sm-6 col-xl-3">
                        <div class="card card-custom">
                            <img class="card-img-top img-fluid img-card-video-audio zoom" src="@itemBV.Thumnail" alt="Card image cap">
                            <div class="card-body  p-0 pt-3">
                                @{
                                    var Url = "/" + Utils.convertToUnSign2(itemBV.Title).Replace(" ", "_") + "_bv-" + itemBV.ID + ".htm";
                                    if (!string.IsNullOrEmpty(itemBV.TuKhoaSeo))
                                    {
                                        Url = "/" + Utils.convertToUnSign2(itemBV.TuKhoaSeo).Replace(" ", "_") + "_bv-" + itemBV.ID + ".htm";
                                    }
                                }
                                <h5 class="card-text wraptext-heigth"><a href="@Url" class="text-black  font-w600">@itemBV.Title</a></h5>
                            </div>
                        </div>
                    </div>
                }
            </div>

        }
    </div>


    <div class="offcanvas offcanvas-bottom height-image" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">

    </div>
    <div class="modal fade" id="ModalImage" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content" style="border:0">
                <div class="modal-body text-center p-0" id="DataModalImage">

                </div>
            </div>
        </div>
    </div>

    @section scripts {
        <script src="~/Content/SlideShow/script.js"></script>
        <script>

            function OpenLightBox(IdAlbum, IdAnh) {
                debugger
                $("#DataModalImage").load("/AlbumAnh/_ChiTietAnhAlbum", { "IdAlbum": IdAlbum, "IdAnh": IdAnh }, function (data) {
                    $("#ModalImage").modal("show");
                });
            }

            function LoadChiTietAnh(Id) {
                var requestModel = {
                    Id: Id,
                }
                $("#offcanvasBottom").load("/AlbumAnh/_ChiTiet", { "requestModel": requestModel }, function (data) {
                    var myOffcanvas = document.getElementById('offcanvasBottom')
                    var bsOffcanvas = new bootstrap.Offcanvas(myOffcanvas)
                    bsOffcanvas.show()
                })
            }

            $(document).ready(function () {
                if ((parseInt($("#TrangHienTai").val())) * 8 > parseInt($("#TongBanGhi").val())) {
                    $("#BtnLoadXemThem").addClass("d-none");
                }
                else {
                    $("#BtnLoadXemThem").removeClass("d-none");
                }
            });


            function LoadXemThem() {
                var requestModel = {
                    start: parseInt($("#TrangHienTai").val()) + 1,
                    length: 8,
                    MoTa: $("#txtTimKiem").val()
                }
                if ((parseInt($("#TrangHienTai").val()) + 1) * 8 > parseInt($("#TongBanGhi").val())) {
                    $("#BtnLoadXemThem").addClass("d-none");
                }
                else {
                    $("#BtnLoadXemThem").removeClass("d-none");
                }
                $("#TrangHienTai").val(parseInt($("#TrangHienTai").val()) + 1);
                $.post("/AlbumAnh/DanhSach", { "requestModel": requestModel }, function (data) {
                    loading();
                    var StrHtml = "";
                    if (data.data.length > 0) {
                        [...data.data].map((el, index) => {
                            StrHtml += `<div class="col-sm-6 col-xl-3">
<div class="card card-custom">
<img class="card-img-top img-fluid img-card zoom" src="${el.Image}" alt="Card image cap" onclick="LoadChiTietAnh(${el.Id})">
<span class="iconCustom">
<svg width="50" height="50" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M46 23C46 35.7025 35.7025 46 23 46C10.2975 46 0 35.7025 0 23C0 10.2975 10.2975 0 23 0C35.7025 0 46 10.2975 46 23Z" fill="white" fill-opacity="0.2"></path>
<path fill-rule="evenodd" clip-rule="evenodd" d="M23 44.5625C34.9086 44.5625 44.5625 34.9086 44.5625 23C44.5625 11.0914 34.9086 1.4375 23 1.4375C11.0914 1.4375 1.4375 11.0914 1.4375 23C1.4375 34.9086 11.0914 44.5625 23 44.5625ZM23 46C35.7025 46 46 35.7025 46 23C46 10.2975 35.7025 0 23 0C10.2975 0 0 10.2975 0 23C0 35.7025 10.2975 46 23 46Z" fill="white"></path>
<path d="M26.1539 20.4546V20.4549C26.1539 20.7442 26.0384 21.0217 25.8328 21.2263C25.6271 21.4309 25.3483 21.5458 25.0575 21.5458C24.7668 21.5458 24.488 21.4308 24.2824 21.2262C24.0768 21.0216 23.9613 20.7441 23.9613 20.4547C23.9613 20.1654 24.0768 19.8879 24.2824 19.6832C24.488 19.4786 24.7668 19.3637 25.0575 19.3636C25.3483 19.3636 25.6271 19.4785 25.8328 19.6831C26.0384 19.8877 26.1539 20.1652 26.1539 20.4546ZM32 16.4545V29.5455C31.9996 29.9311 31.8454 30.3008 31.5714 30.5735C31.2974 30.8462 30.9259 30.9996 30.5385 31H14.4615C14.0741 30.9996 13.7026 30.8462 13.4286 30.5735C13.1546 30.3008 13.0004 29.9311 13 29.5455V16.4545C13.0004 16.0689 13.1546 15.6992 13.4286 15.4265C13.7026 15.1538 14.0741 15.0004 14.4615 15H30.5385C30.9259 15.0004 31.2974 15.1538 31.5714 15.4265C31.8454 15.6992 31.9996 16.0689 32 16.4545ZM30.5392 26.3358L30.5385 16.4545H14.4615V24.8805L17.8127 21.5455C18.087 21.2731 18.4587 21.1201 18.8462 21.1201C19.2337 21.1201 19.6054 21.2731 19.8797 21.5455L23.9616 25.6079L25.8512 23.7273C26.1255 23.4549 26.4972 23.302 26.8847 23.302C27.2722 23.302 27.6438 23.4549 27.9181 23.7273L30.5392 26.3358Z" fill="white"></path>
</svg>
</span>
<span class="icon">
<svg width="96" height="96" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M46 23C46 35.7025 35.7025 46 23 46C10.2975 46 0 35.7025 0 23C0 10.2975 10.2975 0 23 0C35.7025 0 46 10.2975 46 23Z" fill="white" fill-opacity="0.2"></path>
<path fill-rule="evenodd" clip-rule="evenodd" d="M23 44.5625C34.9086 44.5625 44.5625 34.9086 44.5625 23C44.5625 11.0914 34.9086 1.4375 23 1.4375C11.0914 1.4375 1.4375 11.0914 1.4375 23C1.4375 34.9086 11.0914 44.5625 23 44.5625ZM23 46C35.7025 46 46 35.7025 46 23C46 10.2975 35.7025 0 23 0C10.2975 0 0 10.2975 0 23C0 35.7025 10.2975 46 23 46Z" fill="white"></path>
<path d="M26.1539 20.4546V20.4549C26.1539 20.7442 26.0384 21.0217 25.8328 21.2263C25.6271 21.4309 25.3483 21.5458 25.0575 21.5458C24.7668 21.5458 24.488 21.4308 24.2824 21.2262C24.0768 21.0216 23.9613 20.7441 23.9613 20.4547C23.9613 20.1654 24.0768 19.8879 24.2824 19.6832C24.488 19.4786 24.7668 19.3637 25.0575 19.3636C25.3483 19.3636 25.6271 19.4785 25.8328 19.6831C26.0384 19.8877 26.1539 20.1652 26.1539 20.4546ZM32 16.4545V29.5455C31.9996 29.9311 31.8454 30.3008 31.5714 30.5735C31.2974 30.8462 30.9259 30.9996 30.5385 31H14.4615C14.0741 30.9996 13.7026 30.8462 13.4286 30.5735C13.1546 30.3008 13.0004 29.9311 13 29.5455V16.4545C13.0004 16.0689 13.1546 15.6992 13.4286 15.4265C13.7026 15.1538 14.0741 15.0004 14.4615 15H30.5385C30.9259 15.0004 31.2974 15.1538 31.5714 15.4265C31.8454 15.6992 31.9996 16.0689 32 16.4545ZM30.5392 26.3358L30.5385 16.4545H14.4615V24.8805L17.8127 21.5455C18.087 21.2731 18.4587 21.1201 18.8462 21.1201C19.2337 21.1201 19.6054 21.2731 19.8797 21.5455L23.9616 25.6079L25.8512 23.7273C26.1255 23.4549 26.4972 23.302 26.8847 23.302C27.2722 23.302 27.6438 23.4549 27.9181 23.7273L30.5392 26.3358Z" fill="white"></path>
</svg>
</span>
<div class="card-body">
<h5 class="card-text font-w600" onclick="LoadChiTietAnh(${el.Id})">${el.MoTa}</h5>
</div>
</div><!-- end card -->
</div>`;
                        });
                        $("#DataDSAnh").append(StrHtml);
                        offLoading();
                    }
                })
            }


            function TimKiemAnh() {
                var requestModel = {
                    start: 1,
                    length: 8,
                    MoTa: $("#txtTimKiem").val()
                }

                $.post("/AlbumAnh/DanhSach", { "requestModel": requestModel }, function (data) {
                    loading();
                    var StrHtml = "";
                    if (data.data.length > 0) {
                        [...data.data].map((el, index) => {
                            StrHtml += `<div class="col-sm-6 col-xl-3">
<div class="card card-custom">
<img class="card-img-top img-fluid img-card zoom" src="${el.Image}" alt="Card image cap" onclick="LoadChiTietAnh(${el.Id})">
<span class="iconCustom">
<svg width="50" height="50" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M46 23C46 35.7025 35.7025 46 23 46C10.2975 46 0 35.7025 0 23C0 10.2975 10.2975 0 23 0C35.7025 0 46 10.2975 46 23Z" fill="white" fill-opacity="0.2"></path>
<path fill-rule="evenodd" clip-rule="evenodd" d="M23 44.5625C34.9086 44.5625 44.5625 34.9086 44.5625 23C44.5625 11.0914 34.9086 1.4375 23 1.4375C11.0914 1.4375 1.4375 11.0914 1.4375 23C1.4375 34.9086 11.0914 44.5625 23 44.5625ZM23 46C35.7025 46 46 35.7025 46 23C46 10.2975 35.7025 0 23 0C10.2975 0 0 10.2975 0 23C0 35.7025 10.2975 46 23 46Z" fill="white"></path>
<path d="M26.1539 20.4546V20.4549C26.1539 20.7442 26.0384 21.0217 25.8328 21.2263C25.6271 21.4309 25.3483 21.5458 25.0575 21.5458C24.7668 21.5458 24.488 21.4308 24.2824 21.2262C24.0768 21.0216 23.9613 20.7441 23.9613 20.4547C23.9613 20.1654 24.0768 19.8879 24.2824 19.6832C24.488 19.4786 24.7668 19.3637 25.0575 19.3636C25.3483 19.3636 25.6271 19.4785 25.8328 19.6831C26.0384 19.8877 26.1539 20.1652 26.1539 20.4546ZM32 16.4545V29.5455C31.9996 29.9311 31.8454 30.3008 31.5714 30.5735C31.2974 30.8462 30.9259 30.9996 30.5385 31H14.4615C14.0741 30.9996 13.7026 30.8462 13.4286 30.5735C13.1546 30.3008 13.0004 29.9311 13 29.5455V16.4545C13.0004 16.0689 13.1546 15.6992 13.4286 15.4265C13.7026 15.1538 14.0741 15.0004 14.4615 15H30.5385C30.9259 15.0004 31.2974 15.1538 31.5714 15.4265C31.8454 15.6992 31.9996 16.0689 32 16.4545ZM30.5392 26.3358L30.5385 16.4545H14.4615V24.8805L17.8127 21.5455C18.087 21.2731 18.4587 21.1201 18.8462 21.1201C19.2337 21.1201 19.6054 21.2731 19.8797 21.5455L23.9616 25.6079L25.8512 23.7273C26.1255 23.4549 26.4972 23.302 26.8847 23.302C27.2722 23.302 27.6438 23.4549 27.9181 23.7273L30.5392 26.3358Z" fill="white"></path>
</svg>
</span>
<span class="icon">
<svg width="96" height="96" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M46 23C46 35.7025 35.7025 46 23 46C10.2975 46 0 35.7025 0 23C0 10.2975 10.2975 0 23 0C35.7025 0 46 10.2975 46 23Z" fill="white" fill-opacity="0.2"></path>
<path fill-rule="evenodd" clip-rule="evenodd" d="M23 44.5625C34.9086 44.5625 44.5625 34.9086 44.5625 23C44.5625 11.0914 34.9086 1.4375 23 1.4375C11.0914 1.4375 1.4375 11.0914 1.4375 23C1.4375 34.9086 11.0914 44.5625 23 44.5625ZM23 46C35.7025 46 46 35.7025 46 23C46 10.2975 35.7025 0 23 0C10.2975 0 0 10.2975 0 23C0 35.7025 10.2975 46 23 46Z" fill="white"></path>
<path d="M26.1539 20.4546V20.4549C26.1539 20.7442 26.0384 21.0217 25.8328 21.2263C25.6271 21.4309 25.3483 21.5458 25.0575 21.5458C24.7668 21.5458 24.488 21.4308 24.2824 21.2262C24.0768 21.0216 23.9613 20.7441 23.9613 20.4547C23.9613 20.1654 24.0768 19.8879 24.2824 19.6832C24.488 19.4786 24.7668 19.3637 25.0575 19.3636C25.3483 19.3636 25.6271 19.4785 25.8328 19.6831C26.0384 19.8877 26.1539 20.1652 26.1539 20.4546ZM32 16.4545V29.5455C31.9996 29.9311 31.8454 30.3008 31.5714 30.5735C31.2974 30.8462 30.9259 30.9996 30.5385 31H14.4615C14.0741 30.9996 13.7026 30.8462 13.4286 30.5735C13.1546 30.3008 13.0004 29.9311 13 29.5455V16.4545C13.0004 16.0689 13.1546 15.6992 13.4286 15.4265C13.7026 15.1538 14.0741 15.0004 14.4615 15H30.5385C30.9259 15.0004 31.2974 15.1538 31.5714 15.4265C31.8454 15.6992 31.9996 16.0689 32 16.4545ZM30.5392 26.3358L30.5385 16.4545H14.4615V24.8805L17.8127 21.5455C18.087 21.2731 18.4587 21.1201 18.8462 21.1201C19.2337 21.1201 19.6054 21.2731 19.8797 21.5455L23.9616 25.6079L25.8512 23.7273C26.1255 23.4549 26.4972 23.302 26.8847 23.302C27.2722 23.302 27.6438 23.4549 27.9181 23.7273L30.5392 26.3358Z" fill="white"></path>
</svg>
</span>
<div class="card-body">
<h5 class="card-text font-w600" onclick="LoadChiTietAnh(${el.Id})">${el.MoTa}</h5>
</div>
</div><!-- end card -->
</div>`;
                        });
                        $("#DataDSAnh").empty();
                        $("#DataDSAnh").append(StrHtml);
                        $("#TrangHienTai").val(1);
                        $("#TongBanGhi").val(data.recordsTotal);
                        if ((parseInt($("#TrangHienTai").val())) * 8 > parseInt($("#TongBanGhi").val())) {
                            $("#BtnLoadXemThem").addClass("d-none");
                        }
                        else {
                            $("#BtnLoadXemThem").removeClass("d-none");
                        }
                        offLoading();
                    }
                })
            }

        </script>
    }

</div>



