@using Models;
@model Models.Product
@{

    Layout = null;
    tbl_UserModel UserLogin = (tbl_UserModel)Session[Constants.SSUserInforKH];
}

<!doctype html>
<html lang="en" data-layout="horizontal" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-layout-style="default" data-layout-mode="light" data-layout-width="fluid" data-layout-position="scrollable" class="mdl-us">

<!-- Mirrored from themesbrand.com/velzon/html/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 25 May 2022 13:13:54 GMT -->
<head>

    <meta charset="utf-8" />
    <title>Fashion Go</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <!-- Stylesheets
    ============================================= -->

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Content/Image/Logo/logo-hoi-nha-bao.png">

    <!-- jsvectormap css -->
    <link href="~/Content/CMSContent/assets/libs/jsvectormap/css/jsvectormap.min.css" rel="stylesheet" type="text/css" />

    <!--Swiper slider css-->
    <link href="~/Content/CMSContent/assets/libs/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css" />

    <!-- Layout config Js -->
    <script src="~/Content/CMSContent/assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="~/Content/CMSContent/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/Content/CMSContent/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/Content/CMSContent/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="~/Content/ControllerCss/Home.css" rel="stylesheet" />
    <link href="~/Content/ControllerCss/HomeProduct.css" rel="stylesheet" />
    <link href="~/Content/CMSContent/assets/css/custom.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/ControllerCss/Home.css" rel="stylesheet" />
    <link href="~/Content/ControllerCss/Custommer.css" rel="stylesheet" />
    <link href="~/Content/CMSContent/assets/css/base.css" rel="stylesheet" />
    <link href="~/Content/CMSContent/assets/css/button.css" rel="stylesheet" />
    <link href="~/Content/CMSContent/assets/css/keyframe.css" rel="stylesheet" />
    <link href="~/Content/CMSContent/assets/css/loading.css" rel="stylesheet" />
    <link href="~/Content/CMSContent/assets/libs/toast/toast.css" rel="stylesheet" />
    <link href="~/Content/ControllerCss/CustomAdmin.css" rel="stylesheet" />
    <link href="~/Content/CMSContent/assets/libs/select2/select2.min.css" rel="stylesheet" />
    <link href="~/Content/CMSContent/assets/libs/Jstree/vakata-jstree-7a03954/dist/themes/default/style.min.css" rel="stylesheet" />
</head>

<body class="bd">
    <!-- Begin page -->
    <div id="wrapper" class="clearfix">


        <div class="eshop-header">
            <!-- SPOTLIGHT 2 -->
            <div class="container">
                <!-- SPOTLIGHT -->
                <div class="t3-spotlight t3-eshop-header  row">
                    <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                        <div class="t3-module module " id="Mod90">
                            <div class="module-inner">
                                <div class="module-ct">
                                    <div id="currency" class="eshop-currency">
                                        <a class="active" title="Follow Us">
                                            Follow Us
                                        </a>
                                        <a title="Facebook">
                                            <i class="fa-brands fa-facebook"></i>
                                        </a>
                                        <a title="google-plus">
                                            <i class="fa-brands fa-google-plus-g"></i>
                                        </a>
                                        <a title="twitter">
                                            <i class="fa-brands fa-twitter"></i>
                                        </a>
                                        <a title="instagram">
                                            <i class="fa-brands fa-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 hidden-xs">

                        <div class="t3-module module " id="Mod1">
                            <div class="module-inner">
                                <div class="module-ct">
                                    <ul class="nav  nav-pills  nav-pills">
                                        <li class="item-109"><a href=""><i class="icon fa fa-heart"></i> Sản phẩm yêu thích</a></li>

                                        @if (UserLogin == null)
                                        {
                                            <li class="item-108"><a href="@Url.Action("Index","GioHang", new {Id = @Session["IdUser"]})"><i class="fa fa-shopping-bag"></i> Giỏ hàng</a></li>
                                            <li class="item-107"><a href="@Url.Action("Index","LogIn")"><i class="fa fa-user" style="margin-right:10px"></i>Đăng Nhập</a></li>
                                        }
                                        else
                                        {
                                            <li class="item-108"><a href="@Url.Action("Index","GioHang", new {Id =  UserLogin.ID })"><i class="fa fa-shopping-bag"></i> Giỏ hàng</a></li>

                                            <li class="item-107 d-flex"><a href="@Url.Action("ChiTiet","ChiTietNguoiDung" , new { Id = @Session["IdUser"] })"><i class="fa fa-user" style="margin-right:10px"></i>@UserLogin.UserName</a><a href="@Url.Action("DangXuat","LogIn")"><i class="fa-solid fa-right-from-bracket" title="Log Out"></i></a></li>


                                            Session["IdUser"] = UserLogin.ID;
                                            Session["NameUser"] = UserLogin.FullName;
                                            Session["PhoneUser"] = UserLogin.Phone;
                                            Session["EmailUser"] = UserLogin.Email;
                                            //Session["AddressUser"] = @item.Address;

                                        }
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- SPOTLIGHT -->
            </div>
            <!-- //SPOTLIGHT 2 -->
        </div>
        <header id="t3-header" class="container t3-header">
            <div class="row">
                <!-- LOGO -->
                <div class="col-xs-12 col-sm-4 logo">
                    <div class="logo-image">
                        <a href="/" title="FashionGo - Lựa chọn cho phong cách!">
                            <img class="logo-img img-responsive" src="~/Content/image/Banner/logo-fashiongo.png" alt="FashionGo - Lựa chọn cho phong cách!" />
                            <span>FashionGo - Lựa chọn cho phong cách!</span>
                        </a>
                        <small class="site-slogan"></small>
                    </div>
                </div>
                <!-- //LOGO -->

                <div class="col-xs-12 col-sm-8">
                    <div class="eshop-header-2">
                        <!-- SPOTLIGHT -->
                        <div class="t3-spotlight t3-eshop-header2  row">
                            <div class=" col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="t3-module module " id="Mod95">
                                    <div class="module-inner">
                                        <div class="module-ct">

                                            <div class="custom">
                                                <h2>0334-460-843</h2>
                                                <p>Hotline đặt hàng 24/7 (8H-20H)</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                @Html.Action("_HeaderSearchForm", "Product")
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="t3-module module " id="Mod88">
                                    <div class="module-inner">
                                        <div class="module-ct">
                                            <div id="eshop-cart" class="eshop-cart">
                                                <div class="eshop-items">
                                                    <a>
                                                        <i class="fa fa-shopping-cart">&nbsp;</i>
                                                        <span>Xem Giỏ hàng</span><a style="margin-left:15px">0</a>
                                                    </a>
                                                </div>
                                                <div class="eshop-content" id="cart-item" style="display: none;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SPOTLIGHT -->
                    </div>
                </div>

            </div>
        </header>
        <nav id="t3-mainnav" class="wrap nav-default-class navbar-default t3-mainnav">
            <nav id="t3-mainnav" class="wrap" style="background-color: #ebebeb; margin-left: 22px; }">
                <div class="container">
                    <div class="relative-wrap d-flex ">

                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="" data-toggle="collapse" data-target=".t3-navbar-collapse">
                                <i class="fa fa-bars"></i>
                            </button>
                        </div>
                        <div class="t3-navbar-collapse navbar-collapse"></div>

                        <div class="logo-image">
                            <a href="/" title="FashionGo - Lựa chọn cho phong cách!">
                                <img class="logo-img img-responsive" src="~/Content/image/Banner/logo-fashiongo.png" alt="FashionGo - Lựa chọn cho phong cách!" />
                                <span>FashionGo - Lựa chọn cho phong cách!</span>
                            </a>
                            <small class="site-slogan"></small>
                        </div>
                        <div class="container">
                            <!-- OFF-CANVAS SIDEBAR -->
                            <div class="t3-off-canvas ">
                                <div class="module-inner">
                                    <div class="header-item">
                                        @Html.Action("_MobileMenu", "Menu")
                                    </div>
                                </div>
                            </div>
                            <!-- //OFF-CANVAS SIDEBAR -->



                        </div>

                    </div>
                </div>
            </nav>
        </nav>


        <!-- #header end -->

        @RenderBody()

        <!-- Footer
        ============================================= -->
        <footer class="t3-sl t3-sl-2">
            <!-- FOOT NAVIGATION -->
            <div class="container">
                <!-- SPOTLIGHT -->
                <div class="mt-5 row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="t3-module module" id="Mod96">
                            <div class="module-inner">
                                <div class="module-ct">
                                    <div class="footer-logo" style="margin-bottom: 15px;">
                                        <p>
                                            <a href="/" title="FashionGo.VN">
                                                <img src="~/Content/Image/Banner/logo-fashiongo.png" alt="FashionGo.VN" width="100%" height="40" class="img-logo img-responsive" />
                                            </a>
                                        </p>
                                    </div><!-- /.footer-logo -->
                                    <div class="custom">
                                        <p>Hà Nội</p>
                                        <p><strong>Hotline: </strong>0334.460.843</p>
                                        <p><a href="">dangquyet202@gmail.com</a></p>
                                        <p>
                                            <a href=""><span class="social-icons"><i class="fa-brands fa-facebook"></i><span class="text-hide">face</span></i></span></a>&nbsp;
                                            <a href="htpp://plus.google.com"><span class="social-icons"><i class="fa-brands fa-google"></i><span class="text-hide">g+</span></i></span></a>
                                            <a href="htpp://twitter.com"><span class="social-icons"><i class="fa-brands fa-twitter"></i><span class="text-hide">twitter</span></i></span></a>

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="t3-module module " id="Mod107">
                            <div class="module-inner">
                                <h3 class="module-title "><span>Giới thiệu</span></h3><div class="module-ct">
                                    <ul class="nav-pills nav-stacked custom">
                                        <p><a>Liên hệ công ty</a></p>
                                        <p><a>Liên hệ Hợp Tác</a></p>
                                        <p><a>Gia nhập Fashion</a></p>
                                        <p><a>Hệ thống cửa hàng</a></p>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="t3-module module " id="Mod108">
                            <div class="module-inner">
                                <h3 class="module-title "><span>Chính Sách - Bảo Mật</span></h3>
                                <div class="module-ct">
                                    <ul class="nav-pills nav-stacked">
                                        <p><a>Chính sách thành viên</a></p>
                                        <p><a>Chính sách hoàn tiền</a></p>
                                        <p><a>Chính sách bảo mật</a></p>
                                        <p><a>Chính sách kiểm hàng</a></p>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="t3-module module " id="Mod109">
                            <div class="module-inner">
                                <div class="module-ct">
                                    <iframe src="" width="262" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SPOTLIGHT -->
            </div>

            <!-- //FOOT NAVIGATION -->
            <section class="t3-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 copyright">
                            <div class="module">
                                <p><strong>Copyright &#169;FashionGo - Nguyễn Đăng Quyết</strong></p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 text-hide footer-right">
                            <div class="custom">
                                <p><img src="" alt=""><img src="" alt=""><img src="" alt=""><img src="" alt=""><img src="" alt=""></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </footer>
        <!-- #footer end -->

    </div>



    <div id="loginModals" class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-0 overflow-hidden">
                <div class="modal-body login-modal p-5">
                    <h5 class="text-white fs-20">Đăng nhập với</h5>
                    <p class="text-white-50 mb-4">Bạn chưa có tài khoản <a href="javascript:void(0);" class="text-white" onclick="DangKyTK()">Đăng ký.</a></p>
                    <div class="vstack gap-2 justify-content-center">
                        <div id="g_id_onload"
                             data-client_id="553263394427-5qj9kh9f4obgar42ftp01l7q6p2brrt8.apps.googleusercontent.com"
                             data-auto_prompt="false"
                             data-login_uri=""
                             data-callback="handleCredentialResponse" style="width:100%">
                        </div>
                        <div class="g_id_signin"
                             data-type="standard"
                             data-size="large"
                             data-theme="outline"
                             data-text="sign_in_with"
                             data-shape="rectangular"
                             data-logo_alignment="left">
                        </div>
                        @*<button class="btn btn-info"><i class="ri-facebook-fill align-bottom"></i> Facebook</button>*@<button class="btn btn-info"><i class="ri-facebook-fill align-bottom"></i></button>
                    </div>
                </div>
                <div class="modal-body p-5">
                    <h5 class="mb-3">Đăng nhập</h5>
                    <form>
                        <div class="mb-2">
                            <input type="text" class="form-control" id="txtTaiKhoanDN" placeholder="Tài khoản">
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" id="txtMatKhauDN" placeholder="Mật khẩu">
                            @*<div class="mt-1 text-end">
                                    <a href="auth-pass-reset-basic.html">Forgot password ?</a>
                                </div>*@<div class="mt-1 text-end">
                                <a href="auth-pass-reset-basic.html"></a>
                            </div>
                        </div>
                        <a href="javascript:void(0)" class="btn btn-primary w-100" onclick="DangNhap_TK()">Đăng nhập</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="signupModals" class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-0 overflow-hidden">
                <div class="modal-header p-3 border-bottom-cm">
                    <h4 class="card-title mb-0">Đăng ký</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="fullName" class="form-label">Tài khoản</label>
                            <input type="text" class="form-control" id="txtTaiKhoanDK" placeholder="Tài khoản">
                        </div>
                        <div class="mb-3">
                            <label for="emailInput" class="form-label">Email</label>
                            <input type="email" class="form-control" id="txtEmailDK" placeholder="Email">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
                            <input type="password" class="form-control" id="txtMatKhauDK" placeholder="Mật khẩu">
                        </div>
                        <div>
                            <label class="form-check-label" for="checkTerms"><a href="#" onclick="DangNhapTK()">Đăng nhập</a></label>
                        </div>
                        <div class="text-end">
                            <a href="javascript:void(0)" class="btn btn-primary" onclick="DangKy_TK()">Đăng ký</a>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- END layout-wrapper -->
    <!--start back-to-top-->
    <!-- END layout-wrapper -->
    <!--start back-to-top-->
    @*<div class="modal-backdrop_custom fade show d-none" id="Background-menu" onclick="CloseMenu()"></div>*@
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->
    <!-- JAVASCRIPT -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Content/CMSContent/assets/libs/moment/min/moment.min.js"></script>
    <script src="~/Content/CMSContent/assets/js/base.js"></script>
    <script src="~/Content/CMSContent/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/CMSContent/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/Content/CMSContent/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/Content/CMSContent/assets/libs/feather-icons/feather.min.js"></script>
    <script src="~/Content/CMSContent/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
    <script src="~/Content/CMSContent/assets/js/plugins.js"></script>

    <!-- apexcharts -->
    <script src="~/Content/CMSContent/assets/libs/apexcharts/apexcharts.min.js"></script>

    <!-- Vector map-->
    <script src="~/Content/CMSContent/assets/libs/jsvectormap/js/jsvectormap.min.js"></script>
    <script src="~/Content/CMSContent/assets/libs/jsvectormap/maps/world-merc.js"></script>

    <!--Swiper slider js-->
    <script src="~/Content/CMSContent/assets/libs/swiper/swiper-bundle.min.js"></script>

    <!-- App js -->
    <!-- Dashboard init -->
    <script src="~/Content/CMSContent/assets/js/pages/dashboard-ecommerce.init.js"></script>

    <script src="~/Content/CMSContent/assets/js/app-init.js"></script>
    <script src="~/Content/CMSContent/assets/libs/toast/toast.js"></script>
    <script src="https://unpkg.com/jwt-decode/build/jwt-decode.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/Scripts/js/extensions/sweetalert.js"></script>
    <script src="~/Content/CMSContent/assets/libs/select2/select2.min.js"></script>
    <script src="~/Scripts/js/extensions/select2.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Content/CMSContent/assets/libs/ckeditor/ckeditor.js"></script>
    <script src="~/Content/CMSContent/assets/libs/ckfinder/ckfinder.js"></script>
    <script src="~/Content/cssCanvas/js/plugins.js"></script>
    <script src="~/Content/cssCanvas/js/components/rangeslider.min.js"></script>
    <script src="~/Content/cssCanvas/js/jquery.js"></script>
    <script src="~/Content/cssCanvas/js/functions.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <script src="~/Content/CMSContent/assets/libs/moment/min/moment.min.js"></script>
    <script src="~/Content/CMSContent/assets/js/base.js"></script>
    <script src="~/Content/CMSContent/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/Content/CMSContent/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/Content/CMSContent/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/Content/CMSContent/assets/libs/feather-icons/feather.min.js"></script>
    <script src="~/Content/CMSContent/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
    <script src="~/Content/CMSContent/assets/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/CMSContent/assets/libs/toast/toast.js"></script>

    <!-- apexcharts -->
    <script src="~/Content/CMSContent/assets/libs/apexcharts/apexcharts.min.js"></script>

    <!-- Vector map-->
    <script src="~/Content/CMSContent/assets/libs/jsvectormap/js/jsvectormap.min.js"></script>
    <script src="~/Content/CMSContent/assets/libs/jsvectormap/maps/world-merc.js"></script>

    <!--Swiper slider js-->
    <script src="~/Content/CMSContent/assets/libs/swiper/swiper-bundle.min.js"></script>

    <!-- Dashboard init -->
    <script src="~/Content/cssCanvas/js/events-data.js"></script>
    <script src="~/Content/cssCanvas/js/components/bs-datatable.js"></script>
    <script src="~/Content/CMSContent/assets/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/CMSContent/assets/plugins/datatables/js/dataTables.rowsGroup.js"></script>
    <script src="~/Content/CMSContent/assets/plugins/datatables/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Content/CMSContent/assets/plugins/datatables/js/dataTables.fixedColumns.min.js"></script>
    <script src="~/Content/CMSContent/assets/js/pages/dashboard-ecommerce.init.js"></script>
    <script src="~/Scripts/js/extensions/cards.js"></script>
    <script src="~/Scripts/js/extensions/common-select.js"></script>
    <script src="~/Scripts/js/extensions/constants.js"></script>
    <script src="~/Scripts/js/extensions/common.js"></script>
    <script src="~/Scripts/js/extensions/icheck.js"></script>
    <script src="~/Scripts/js/extensions/validate.js"></script>
    <script src="~/Scripts/js/extensions/toastr.js"></script>
    <script src="~/Scripts/js/extensions/sweetalert.js"></script>
    <script src="~/Scripts/js/extensions/starter.js"></script>
    <script src="~/Scripts/js/extensions/select2.js"></script>
    <script src="~/Scripts/js/extensions/notiflix.js"></script>
    <script src="~/Scripts/js/extensions/inputmask.js"></script>
    <script src="~/Scripts/js/extensions/fileUpload.js"></script>
    <script src="~/Scripts/js/extensions/dataTable.js"></script>
    <script src="~/Scripts/js/extensions/dateTimePicker.js"></script>
    <!-- App js -->
    <script src="~/Content/CMSContent/assets/js/pages/dashboard-ecommerce.init.js"></script>
    <script src="~/Scripts/js/extensions/cards.js"></script>
    <script src="~/Scripts/js/extensions/common-select.js"></script>
    <script src="~/Scripts/js/extensions/constants.js"></script>
    <script src="~/Scripts/js/extensions/common.js"></script>
    <script src="~/Scripts/js/extensions/icheck.js"></script>
    <script src="~/Scripts/js/extensions/modal.js"></script>
    <script src="~/Scripts/js/extensions/validate.js"></script>
    <script src="~/Scripts/js/extensions/toastr.js"></script>
    <script src="~/Scripts/js/extensions/sweetalert.js"></script>
    <script src="~/Scripts/js/extensions/starter.js"></script>
    <script src="~/Scripts/js/extensions/select2.js"></script>
    <script src="~/Scripts/js/extensions/notiflix.js"></script>
    <script src="~/Scripts/js/extensions/inputmask.js"></script>
    <script src="~/Scripts/js/extensions/fileUpload.js"></script>
    <script src="~/Scripts/js/extensions/dataTable.js"></script>
    <script src="~/Scripts/js/extensions/dateTimePicker.js"></script>
    <!-- App js -->
    <script src="~/Content/CMSContent/assets/js/app.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/Scripts/js/extensions/sweetalert.js"></script>
    <script src="~/Content/CMSContent/assets/libs/select2/select2.min.js"></script>
    <script src="~/Scripts/js/extensions/select2.js"></script>
    <script src="~/Content/CMSContent/assets/libs/Jstree/vakata-jstree-7a03954/dist/jstree.min.js"></script>
    <script src="~/Content/CMSContent/assets/plugins/datatables/js/dataTables.fixedColumns.min.js"></script>
    <script>

        function OpenMenu() {
            if ($("#Background-menu").hasClass("d-none")) {
                $("#Background-menu").removeClass("d-none");
            }
            else {
                $("#Background-menu").addClass("d-none");
            }
        }

        function CloseMenu() {
            $("#Menu__Open").removeClass("menu");
            $("#Menu__Open").removeClass("twocolumn-panel");
            $("#Background-menu").addClass("d-none");
        }

        $("#DataMenu").load("/Home/Menu", {}, function (data) { })
        $("#ChanTrangBPView").load("/Home/_ChanTrangBP", {}, function (data) { })
        $("#ChanTrangBTView").load("/Home/_ChanTrangBT", {}, function (data) { })
        $("#ChanTrangCuoi").load("/Home/_ChanTrang", {}, function (data) { })


        function CheckMenu() {
            if ($(window).width() < 1024) {
                $("#txtMenu").empty();
                $("#txtMenu").append(`<span data-key="t-layouts">TRANG CHỦ</span>`);
            }
            else {
                $("#txtMenu").empty();
                $("#txtMenu").append(` <i class="bx bxs-home" style="font-size: 20px; padding-left: 0;"></i>`);

            }
            setTimeout(CheckMenu, 500);
        }

        $(document).ready(function () {
            CheckMenu();
        });

        function TimKKiemCapHoi() {
            var requestModel = {
                MoTa: $("#txtTuKhoaCapHoi").val()
            }
            $("#DataCapHoi").empty();
            $.post("/Home/DanhSachCapHoi", { "requestModel": requestModel }, function (data) {
                var StrHtml = "";
                if (data.data.length > 0) {
                    [...data.data].map((el, index) => {
                        StrHtml += `<li class="py-1">
<a href="${el.Url}" class="text-muted">${el.MoTa}</a>
</li>`;
                    });
                    $("#DataCapHoi").append(StrHtml);
                }
            })
        }

        function youtube_parser(url) {
            var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#&?]*).*/;
            var match = url.match(regExp);
            return (match && match[7].length == 11) ? match[7] : false;
        }

        function TimKiemTrangChu() {
            debugger
            loading();
            if ($("#txtTuKhoa").val() == '') {
                $("#resultTimKiem").addClass("d-none");
                $("#resultTimKiem2").removeClass("d-none");
                offLoading();
            }
            else {
                $("#resultTimKiem").load("/Home/_DanhSachTimKiem", { "txtTuKhoa": $("#txtTuKhoa").val() }, function (data) {
                    $("#resultTimKiem").removeClass("d-none");
                    $("#resultTimKiem2").addClass("d-none");
                    offLoading();
                })
            }
        }

        function ToastMessage(title, message, type) {
            toast({
                title: title,
                message: message,
                type: type,
                duration: 5000
            });
        }

        function Message(title, message, icon) {
            Swal.fire({
                title: "",
                text: message,
                icon: icon,
                showConfirmButton: false,
                timer: 1500
            })
        }

        function ThemLuotView(Id) {
            var requestModel = {
                ID: Id
            }
            $.post("/Home/ThemLuotXem", { "requestModel": requestModel }, function (data) {
            })
        }

        function DangKy_TK() {
            if ($("#txtTaiKhoanDK").val() == "") {
                ToastMessage("Lỗi", "Không được để trống tài khoản", "error");
                return;
            }
            if ($("#txtEmailDK").val() == "") {
                ToastMessage("Lỗi", "Không được để trống email", "error");
                return;
            }
            if ($("#txtMatKhauDK").val() == "") {
                ToastMessage("Lỗi", "Không được để trống mật khẩu", "error");
                return;
            }
            var requestModel = {
                UserName: $("#txtTaiKhoanDK").val(),
                Email: $("#txtEmailDK").val(),
                Password: $("#txtMatKhauDK").val()
            }
            $.post("/LogIn/DangKyTK", { "requestModel": requestModel }, function (data) {
                if (data.type == "success") {
                    ToastMessage("Thành công", data.message, data.icon);
                    $("#IdNguoiDung").val(data.data.ID);
                    $("#signupModals").modal("hide");
                    $("#loginModals").modal("show");
                }
                else {
                    ToastMessage("Thành công", data.message, data.icon);
                }
            });
        }

        function DangKyTK() {
            $("#loginModals").modal("hide");
            $("#signupModals").modal("show");
        }

        function DangNhapTK() {
            $("#loginModals").modal("show");
            $("#signupModals").modal("hide");
        }

        function DangNhap_TK() {
            if ($("#txtTaiKhoanDN").val() == "") {
                ToastMessage("Lỗi", "Không được để trống tài khoản", "error");
                return;
            }

            if ($("#txtMatKhauDN").val() == "") {
                ToastMessage("Lỗi", "Không được để trống mật khẩu", "error");
                return;
            }

            var requestModel = {
                UserName: $("#txtTaiKhoanDN").val(),
                Password: $("#txtMatKhauDN").val()
            }
            $.post("/LogIn/DangNhapTK", { "requestModel": requestModel }, function (data) {
                if (data.type == "success") {
                    ToastMessage("Thành công", data.message, data.icon);
                    $("#IdNguoiDung").val(data.data.ID);
                    $("#ThongTinNDBinhLuan").html(data.data.UserName);
                    $("#loginModals").modal("hide");
                    
                }
                else {
                    ToastMessage("Thành công", data.message, data.icon);
                   
                }
            });
        }


        function handleCredentialResponse(response) {
            const responsePayload = jwt_decode(response.credential);
            var requestModel = {
                Email: responsePayload.email,
                UserName: responsePayload.name,
                Image: responsePayload.picture
            }
            $.post("/LogIn/DangNhapGoole", { "requestModel": requestModel }, function (data) {
                if (data.type == "success") {
                    ToastMessage("Thành công", data.message, data.icon);
                    $("#IdNguoiDung").val(data.data.ID);
                    $("#ThongTinNDBinhLuan").html(data.data.UserName);
                    $("#loginModals").modal("hide");
                }
                else {
                    ToastMessage("Thành công", data.message, data.icon);
                }
            });
        }
        function RedirectPage(Url) {
            window.location.href = Url;
        }

        $('.navbar-header').on('click', function () {
            window.location.href = "/Trang-chu.htm"

        }).children().on('click', function (event) {
            event.stopPropagation();
        });
        //const button = document.getElementById("signout_button");
        //button.onclick = () => {
        //    google.accounts.id.disableAutoSelect();
        //}


        //function checkForChanges() {
        //    debugger
        //    $("._2p3a").width($(".GreenContainerTopMIddleNew1").width())
        //    setTimeout(checkForChanges, 500);
        //}

        //$("[rel=comments]").popover({
        //    trigger: 'click',
        //    placement: 'top',
        //    html: 'true',
        //    content: '<textarea class="popover-textarea"></textarea>',
        //    template: '<div class="popover"><div class="arrow"></div>' +
        //        '<h3 class="popover-title"></h3><div class="popover-content">' +
        //        '</div><div class="popover-footer"><button type="button" class="btn btn-primary popover-submit">' +
        //        '<i class="icon-ok icon-white"></i></button>&nbsp;' +
        //        '<button type="button" class="btn btn-default popover-cancel">' +
        //        '<i class="icon-remove"></i></button></div></div>'
        //})
        //    .on('shown', function () {
        //        debugger
        //        //hide any visible comment-popover
        //        $("[rel=comments]").not(this).popover('hide');
        //        var $this = $(this);
        //        //attach link text
        //        $('.popover-textarea').val($this.text()).focus();
        //        //close on cancel
        //        $('.popover-cancel').click(function () {
        //            $this.popover('hide');
        //        });
        //        //update link text on submit
        //        $('.popover-submit').click(function () {
        //            $this.text($('.popover-textarea').val());
        //            $this.popover('hide');
        //        });
        //    });
        function topFunction() {
            document.body.scrollTop = 0, document.documentElement.scrollTop = 0
        }

    </script>
    <script>

        var priceRangefrom = 0,
            priceRangeto = 0,
            $container = null;

        jQuery(window).on('load', function () {
            debugger
            $container = $('#shop');

            $container.isotope({ transitionDuration: '0.65s' });

            $('#portfolio-filter a').click(function () {
                debugger
                $('#portfolio-filter li').removeClass('activeFilter');
                $(this).parent('li').addClass('activeFilter');
                var selector = $(this).attr('data-filter');
                $container.isotope({ filter: selector });
                return false;
            });

            $(window).resize(function () {
                $container.isotope('layout');
            });

        });

        jQuery(document).ready(function ($) {

            $(".range_23").ionRangeSlider({
                type: "double",
                min: 9.99,
                max: 129.99,
                from: 9.99,
                to: 129.99,
                prefix: '$',
                hide_min_max: true,
                hide_from_to: false,
                grid: false,
                onStart: function (data) {
                    priceRangefrom = data.from;
                    priceRangeto = data.to;
                },
                onFinish: function (data) {
                    priceRangefrom = data.from;
                    priceRangeto = data.to;

                    $container.isotope({
                        filter: function () {

                            if ($(this).find('.product-price').find('ins').length > 0) {
                                var price = $(this).find('.product-price ins').text();
                            } else {
                                var price = $(this).find('.product-price').text();
                            }

                            priceNum = price.split("$");

                            return (priceRangefrom <= priceNum[1] && priceRangeto >= priceNum[1]);
                        }
                    });

                }
            });

        });

    </script>
    <script>
        $(document).ready(function () {
            stickynav();
        })



        function stickynav() {

            var window_scroll = jQuery(window).scrollTop();
            jQuery(window).scroll(function (e) {
                if (jQuery(window).scrollTop() > 160) {
                    jQuery('body').addClass('scrolled-nav');
                } else {
                    jQuery('body').removeClass('scrolled-nav');
                }
            });
        }

		var tpj=jQuery;
		tpj.noConflict();

		tpj(document).ready(function() {

			var apiRevoSlider = tpj('#rev_slider_ishop').show().revolution(
			{
				sliderType:"standard",
				jsFileLocation:"include/rs-plugin/js/",
				sliderLayout:"fullwidth",
				dottedOverlay:"none",
				delay:9000,
				navigation: {},
				responsiveLevels:[1200,992,768,480,320],
				gridwidth:1140,
				gridheight:500,
				lazyType:"none",
				shadow:0,
				spinner:"off",
				autoHeight:"off",
				disableProgressBar:"on",
				hideThumbsOnMobile:"off",
				hideSliderAtLimit:0,
				hideCaptionAtLimit:0,
				hideAllCaptionAtLilmit:0,
				debugMode:false,
				fallbacks: {
					simplifyAll:"off",
					disableFocusListener:false,
				},
				navigation: {
					keyboardNavigation:"off",
					keyboard_direction: "horizontal",
					mouseScrollNavigation:"off",
					onHoverStop:"off",
					touch:{
						touchenabled:"on",
						swipe_threshold: 75,
						swipe_min_touches: 1,
						swipe_direction: "horizontal",
						drag_block_vertical: false
					},
					arrows: {
						style: "ares",
						enable: true,
						hide_onmobile: false,
						hide_onleave: false,
						tmp: '<div class="tp-title-wrap">	<span class="tp-arr-titleholder">{{title}}</span> </div>',
						left: {
							h_align: "left",
							v_align: "center",
							h_offset: 10,
							v_offset: 0
						},
						right: {
							h_align: "right",
							v_align: "center",
							h_offset: 10,
							v_offset: 0
						}
					}
				}
			});

			apiRevoSlider.bind("revolution.slide.onloaded",function (e) {
				SEMICOLON.slider.sliderParallaxDimensions();
			});

		}); //ready

    </script>
    @RenderSection("scripts", false)
</body>


<!-- Mirrored from themesbrand.com/velzon/html/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 25 May 2022 13:14:37 GMT -->
</html>



