


@{
    ViewBag.Title = "_Sua";
    Layout = null;
    var ChiTiet = ViewBag.ChiTiet;
}

<input type="hidden" value="@ChiTiet.Id" id="IdAudio" />
<input type="hidden" value="@ChiTiet.ChuThich" id="txtChuThich_Sua" />
<input type="hidden" value="@ChiTiet.Image" id="txtImage_Sua" />
<div class="row">
    <div class="panel" style="margin-top: 10px !important;">
        <div class="panel-body">
            <div style="padding: 10px;">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12  mb-3">
                        <div class="form-group">
                            <label>Mô tả<span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control" placeholder="" id="txtMoTaSua" value="@ChiTiet.MoTa">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12  mb-3">
                        <div class="form-group">
                            <label>Chuyên mục<span class="text-danger">(*)</span></label>
                            <select class="form-control" id="slChuyenMucChaSua">
                                @Html.Raw(ViewBag.optionSelected)
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12  mb-3  dp-flex">
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="ckHienThiTrangChuSua" @(ChiTiet.IsHienThi == 1 ? "checked" : "")>
                                <label class="form-check-label" for="ckHienThiTrangChuSua">
                                    Hiển thị trang chủ
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12  mb-3">
                        <div class="form-group">
                            <label>Link Audio<span class="text-danger">(*)</span></label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="LinkAudioSua" aria-label="Recipient's username" aria-describedby="button-addon2" value="@ChiTiet.Audio">
                                <button class="btn btn-outline-primary" type="button" id="button-addon2" onclick="ChonAudioSua()">Chọn</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12  mb-3">
                        <div class="form-group">
                            <label>Ngày đăng<span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control" placeholder="" id="txtNgayDangSua" value="@(ChiTiet.NgayDang!=null?((DateTime)ChiTiet.NgayDang).ToString("dd-MM-yyyy"):"")">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12  mb-3">
                        <div>
                            <label class="form-label">Chú thích</label>
                            <textarea maxlength="3000" rows="0" id="txtChuThichSua" class="form-control resizable_textarea" style="overflow: hidden; overflow-wrap: break-word; height: 150px" aria-invalid="false"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12  mb-3">
                        <div>
                            <label class="form-label">Ảnh đại diện  <a class="btn btn-outline-primary waves-effect waves-light btn-xs" onclick="ChonAnhDaiDienSua()" title="Chọn"><i class="ri-add-line"></i></a></label>
                            @if (!string.IsNullOrEmpty(ChiTiet.Image))
                            {
                                <div class="dropzoneAnhDaiDien dropSua" id="dropzoneAnhDaiDienSua">
                                    <img src="@ChiTiet.Image" />
                                </div>
                            }
                            else
                            {
                                <div class="dropzoneAnhDaiDien" id="dropzoneAnhDaiDienSua">
                                    <div style="padding: 50px;">Ảnh đại điện</div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $("#txtNgayDangSua").flatpickr({
        static: true,
        enableTime: true,
        dateFormat: "d-m-Y H:i",
    });

    var UrlAnhDaiDienSua = "";

    $(document).ready(function () {
        $("#txtChuThichSua").val($("#txtChuThich_Sua").val());
        UrlAnhDaiDienSua = $("#txtImage_Sua").val()
    });

    $("#slChuyenMucChaSua").select2({
        dropdownParent: $('#ModelSua')
    })
    $("#slLoaiAudioSua").select2({
        dropdownParent: $('#ModelSua')
    })
    function ChonAnhDaiDienSua() {
        var finder = new CKFinder();
        finder.selectActionFunction = function (url) {
            UrlAnhDaiDienSua = url;
            $("#dropzoneAnhDaiDienSua").empty();
            $("#dropzoneAnhDaiDienSua").html(`<img src="${url}"/>`);
            $("#dropzoneAnhDaiDienSua").addClass("dropSua");
        }
        finder.popup();
    }

    function ChonAudioSua() {
        var finder = new CKFinder();
        finder.selectActionFunction = function (url) {
            $("#LinkAudioSua").val(url);
        }
        finder.popup();
    }

</script>