
@{
    var bill = ViewBag.Data;
    var pro = ViewBag.Datasp;
}
<script src="https://cdn.lordicon.com/fudrjiwc.js"></script>



<div class="row">
    <div class="col-md-3">
        <div class="card card-animate">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    @{
                        decimal total = 0;
                        foreach (var item in pro.lst)
                        {
                            total += 1;
                        }
                    }
                    <div>
                        <p class="fw-medium text-muted mb-0">Tổng Sản Phẩm</p>
                        <h2 class="mt-4 ff-secondary fw-semibold"><span class="counter-value" data-target="@total">@total</span></h2>
                    </div>
                    <div>
                        <div class="avatar-sm flex-shrink-0">
                            <span class="avatar-title bg-soft-info rounded-circle fs-2">
                                <lord-icon src="https://cdn.lordicon.com/nocovwne.json"
                                           trigger="loop"
                                           delay="48"
                                           colors="primary:#121331,secondary:#08a88a"
                                           style="width:48px;height:48px">
                                </lord-icon>
                            </span>
                        </div>
                    </div>
                </div>
            </div><!-- end card body -->
        </div> <!-- end card-->
    </div> <!-- end col-->

    <div class="col-md-3">
        <div class="card card-animate">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="fw-medium text-muted mb-0">Tổng người dùng</p>
                        <h2 class="mt-4 ff-secondary fw-semibold"><span class="counter-value" data-target="@ViewBag.TongNguoiDung">@ViewBag.TongNguoiDung</span></h2>
                    </div>
                    <div>
                        <div class="avatar-sm flex-shrink-0">
                            <span class="avatar-title bg-soft-info rounded-circle fs-2">
                                <lord-icon src="https://cdn.lordicon.com/dxjqoygy.json"
                                           trigger="loop"
                                           delay="2000"
                                           style="width:480px;height:480px">
                                </lord-icon>
                            </span>
                        </div>
                    </div>
                </div>
            </div><!-- end card body -->
        </div> <!-- end card-->
    </div> <!-- end col-->
    <div class="col-md-3">
        <div class="card card-animate">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    @{
                        decimal totalBill = 0;
                        List<int> checkedIdusers = new List<int>();

                        foreach (var item in bill.lst)
                        {
                            if (!checkedIdusers.Contains(item.IdUser))
                            {
                                checkedIdusers.Add(item.IdUser);
                                totalBill += 1;
                            }
                        }

                        
                    }
                    <div>
                        <p class="fw-medium text-muted mb-0">Đơn Hàng</p>
                        <h2 class="mt-4 ff-secondary fw-semibold"><span class="counter-value" data-target="@totalBill">@totalBill</span></h2>
                    </div>
                    <div>
                        <div class="avatar-sm flex-shrink-0">
                            <span class="avatar-title bg-soft-info rounded-circle fs-2">
                                <lord-icon src="https://cdn.lordicon.com/zpxybbhl.json"
                                           trigger="loop"
                                           delay="2000"
                                           style="width:48px;height:48px">
                                </lord-icon>
                            </span>
                        </div>
                    </div>
                </div>
            </div><!-- end card body -->
        </div> <!-- end card-->
    </div> <!-- end col-->

    <div class="col-md-3">
        <div class="card card-animate">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    @{
                        decimal totalView = 0;
                        foreach (var item in pro.lst)
                        {
                            totalView += item.View;
                        }
                    }
                    <div>
                        <p class="fw-medium text-muted mb-0">Tổng lượt xem</p>
                        <h2 class="mt-4 ff-secondary fw-semibold"><span class="counter-value" data-target="@totalView">@totalView </span></h2>
                    </div>
                    <div>
                        <div class="avatar-sm flex-shrink-0">
                            <span class="avatar-title bg-soft-info rounded-circle fs-2">
                                <lord-icon src="https://cdn.lordicon.com/tyounuzx.json"
                                           trigger="loop"
                                           delay="2000"
                                           style="width:250px;height:250px">
                                </lord-icon>
                            </span>
                        </div>
                    </div>
                </div>
            </div><!-- end card body -->
        </div> <!-- end card-->
    </div> <!-- end col-->
    <div class="col-md-8">
        <!-- TABLE: LATEST ORDERS -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Đơn hàng gần đây</h3>
                
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin">
                        <thead>
                            <tr>
                                <th>Khách hàng</th>
                                <th>Trạng thái</th>
                                <th>Số Tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{

                                List<int> usedIds = new List<int>();
                                foreach (var item in bill.lst)
                                {
                                    if (!usedIds.Contains(item.IdUser))
                                    {
                                        usedIds.Add(item.IdUser);
                                        <tr id="@item.Id">
                                            
                                            <td>
                                                @item.NameReceiver

                                            </td>
                                            <td style="color:deepskyblue">
                                                    @item.NameStatus
                                            </td>
                                            
                                            <td>
                                                @((@item.TotalNew + 30_000).ToString("N0"))đ
                                            </td>
                                            <td>
                                            </td>

                                            
                                            
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div><!-- /.table-responsive -->
            </div><!-- /.box-body -->
            
        </div><!-- /.box -->
    </div>
    <div class="col-md-4">
        <!-- PRODUCT LIST -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Sản phẩm mới thêm</h3>
                
            </div><!-- /.box-header -->
            <div class="box-body">
                <ul class="products-list product-list-in-box">
                    @foreach (var p in pro.lst.GetRange(0, 5))
                    {
                        <li class="item">
                            <div class="product-img">
                                <img src="~/FileUploaded/@p.Image" width="50" alt="Name">
                            </div>
                            <div class="product-info">
                                <a href="javascript::;" class="product-title">@p.NamePro</a>
                                <span class="label pull-right product-description" style="color:orangered">
                                    @p.Price.ToString("N0") đ
                                </span>
                            </div>
                        </li><!-- /.item -->
                    }
                </ul>
            </div><!-- /.box-body -->
            <div class="box-footer text-center">
                <a href="javascript::;" class="uppercase">Xem tất cả sản phẩm</a>
            </div><!-- /.box-footer -->
        </div><!-- /.box -->
    </div>
</div>
@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>

        var JsonTopLuotXem = JSON.parse($("#JsonTopLuotXem").val())
        const ctx = document.getElementById('ChartLuotXem');
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: JsonTopLuotXem.map(row => row.Name),
                datasets: [{
                    label: ' Top chuyên mục có lượt xem nhiều nhất',
                    data: JsonTopLuotXem.map(row => row.SoLuong),
                    borderWidth: 1,
                    backgroundColor: '#405189',
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        var JsonTopLuotThich = JSON.parse($("#JsonTopLuotThich").val())
        const ctx2 = document.getElementById('JsonChartTopLuotThich');

        new Chart(ctx2, {
            type: 'doughnut',
            data: {
                labels: JsonTopLuotThich.map(row => row.Name),
                datasets: [{
                    label: 'Top chuyên mục có lượt thích nhiều nhất',
                    data: JsonTopLuotThich.map(row => row.SoLuong),
                    borderWidth: 1,
                    backgroundColor: ['#CB4335', '#1F618D', '#F1C40F', '#27AE60', '#884EA0', '#D35400', '#258383', '#848dc9', '#becb7a', '#3d9f2b'],
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });


        var JsonTopDanhMucBLMN = JSON.parse($("#JsonTopDanhMucBLMN").val())
        const ctx3 = document.getElementById('ChartBinhLuan');
        new Chart(ctx3, {
            type: 'bar',
            data: {
                labels: JsonTopDanhMucBLMN.map(row => row.Name),
                datasets: [{
                    label: ' Top chuyên mục có lượt bình luận nhiều nhất',
                    data: JsonTopDanhMucBLMN.map(row => row.SoLuong),
                    borderWidth: 1,
                    backgroundColor: '#405189',
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
}
