
@using Models;
@{

    var DanhSachBaiViet = ViewBag.DanhSachBaiViet as List<tbl_PostModel>;
    var TinTucMoi = ViewBag.TinTucMoi as List<tbl_PostModel>;
    var LienKetGioiThieu = ViewBag.LienKetGioiThieu as List<tbl_LienKetGioiThieuModel>;
    var CacCapHoi = ViewBag.CacCapHoi as List<tbl_CacCapHoiModel>;
    var BannerTrangChuVT1 = ViewBag.BannerTrangChuVT1 as List<tbl_BannerModel>;
    var BannerTrangChuVT2 = ViewBag.BannerTrangChuVT2 as List<tbl_BannerModel>;
    var DanhSachChuyenMucBenPhaiCT = ViewBag.DanhSachChuyenMucBenPhaiCT as List<tbl_SettingMenu_CategoryModel>;
    var ChiTietDM = ViewBag.ChiTietDM as tbl_CategoryModel;
}
<style>


    .border-bottom-new {
        border-bottom: 1px solid;
        border-color: #EBEBEB;
    }

    .avatar-sm-custom {
        height: 5rem;
        width: 8rem;
        object-fit: cover;
        object-position: 0px 0px;
    }

    .card-custom-new {
        margin-bottom: 0px !important
    }
</style>
<link href="~/Content/ControllerCss/HomePage.css" rel="stylesheet" />
<input type="hidden" value="@ViewBag.CategoryID" id="CategoryID" />
<div class="page-content pb-3">
    <div class="container-fluid pt-3">
        <div class="row mb-2">
            <h2 class="font-w600 Color-left-title text-black" style="margin-left: 12px; ">@ChiTietDM.Name</h2>
        </div>
        <div class="row">
            <div id="resultTimKiem" class="col-xl-9 col-lg-12 col-sm-12 SearchTk d-none">
            </div>
            <div class="col-xl-9 col-lg-8 col-sm-12" id="resultTimKiem2">
                <div class="row border-bottom-cm">
                    @if (DanhSachBaiViet.Count > 0)
                    {
                        <div class="col-xl-8 col-lg-8 col-sm-6 padding-img-right">
                            @{
                                var Url = "/" + Utils.convertToUnSign2(DanhSachBaiViet[0].Title).Replace(" ", "_") + "_bv-" + DanhSachBaiViet[0].ID + ".htm";
                                if (!string.IsNullOrEmpty(DanhSachBaiViet[0].TuKhoaSeo))
                                {
                                    Url = "/" + Utils.convertToUnSign2(DanhSachBaiViet[0].TuKhoaSeo).Replace(" ", "_") + "_bv-" + DanhSachBaiViet[0].ID + ".htm";
                                }
                            }
                            <div class="card card-custom">
                                <a href="@Url" class="text-black">
                                    <img class="card-img-top img-fluid img-Title_new" src="@DanhSachBaiViet[0].Thumnail" alt="Card image cap">
                                </a>
                                <div class="card-body  p-0 pt-3">
                                    <h4 class="title-new"><a href="@Url" class="text-black">@DanhSachBaiViet[0].Title</a></h4>
                                    <p class="text-success fs-12 mb-1">@(DanhSachBaiViet[0].NgayPhatHanh!=null?((DateTime)DanhSachBaiViet[0].NgayPhatHanh).ToString("dd-MM-yyyy HH:mm") :"")</p>
                                    <a href="@Url" class="text-black"><p class="wraptext-new-height article-excerpt">@DanhSachBaiViet[0].ShortDescription</p></a>
                                </div>
                            </div>
                        </div>
                        if (DanhSachBaiViet.Count > 1)
                        {
                            <div class="col-xl-4 col-lg-4 col-sm-6">
                                <ul class="list-group list-group-flush">
                                    @for (var itemBV = 1; itemBV < DanhSachBaiViet.Count; itemBV++)
                                    {
                                        <li class="list-group-item p-0">
                                            <div class="card border-bottom card-custom card-custom-new">
                                                <div class="card-body p-0 pb-3 pt-3">
                                                    <div class="d-flex">

                                                        <div class="flex-grow-1 padding_rigth">
                                                            <div>
                                                                @{
                                                                    var Url1 = "/" + Utils.convertToUnSign2(DanhSachBaiViet[itemBV].Title).Replace(" ", "_") + "_bv-" + DanhSachBaiViet[itemBV].ID + ".htm";
                                                                    if (!string.IsNullOrEmpty(DanhSachBaiViet[itemBV].TuKhoaSeo))
                                                                    {
                                                                        Url1 = "/" + Utils.convertToUnSign2(DanhSachBaiViet[itemBV].TuKhoaSeo).Replace(" ", "_") + "_bv-" + DanhSachBaiViet[itemBV].ID + ".htm";
                                                                    }
                                                                }
                                                                <h5 class="card-text wraptext-heigth font-text"><a href="@Url1" class="text-black">@DanhSachBaiViet[itemBV].Title</a></h5>
                                                            </div>
                                                        </div>
                                                        <div class="flex-shrink-0">
                                                            <a href="@Url1" class="text-black">
                                                                <img src="@DanhSachBaiViet[itemBV].Thumnail" alt="" class="avatar-sm-custom  rounded">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    }

                </div>
                <div id="DataBaiViet">

                </div>
                <div class="row pb-3 pt-3" id="BtnLoadXemThem">
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-secondary waves-effect waves-light" onclick="LoadXemThem()">Xem thêm</button>
                    </div>
                </div>
                @if (TinTucMoi.Count > 0)
                {
                    <div class="row" id="DataBaiVietTinMoi">
                        <div class="GreenContainerTopMIddleNew pt-3" style="margin-left: 1rem;">
                            <h3 class="Color-left-title">Tin mới</h3>
                        </div>
                        @foreach (var itemTTM in TinTucMoi)
                        {
                            <div class="col-xl-12 col-lg-12 col-sm-12 p-0 border-bottom-cm">
                                <div class="card-body">
                                    <div class="d-sm-flex">
                                        @{
                                            var Url1 = "/" + Utils.convertToUnSign2(itemTTM.Title).Replace(" ", "_") + "_bv-" + itemTTM.ID + ".htm";
                                            if (!string.IsNullOrEmpty(itemTTM.TuKhoaSeo))
                                            {
                                                Url1 = "/" + Utils.convertToUnSign2(itemTTM.TuKhoaSeo).Replace(" ", "_") + "_bv-" + itemTTM.ID + ".htm";
                                            }
                                        }
                                        <div class="flex-shrink-0 width-TTMoi">
                                            <a href="@Url1" class="text-black">
                                                <img src="@itemTTM.Thumnail" alt="" width="115" class="rounded-1 img-new-duoi-banner ">
                                            </a>
                                        </div>
                                        <div class="flex-grow-1 ms-sm-4 mt-3 mt-sm-0">
                                            <a href="@Url1" class="text-black">
                                                <h4 class="title-new">@itemTTM.Title</h4>
                                            </a>
                                            <a href="@Url1" class="text-black">
                                                <p class="text-success fs-12 mb-1">@(itemTTM.NgayPhatHanh!=null?((DateTime)itemTTM.NgayPhatHanh).ToString("dd-MM-yyyy HH:mm") :"")</p>
                                                <p class="wraptext-new-height article-excerpt">@itemTTM.ShortDescription</p>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row pb-3 pt-3" id="BtnLoadXemThemTinMoi">
                        <div class="text-center">
                            <button type="button" class="btn btn-outline-secondary waves-effect waves-light" onclick="LoadXemThemTinMoi()">Xem thêm</button>
                        </div>
                    </div>
                }
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-12 hide-right-view-Detail">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-sm-12 mt-3">
                        <div class="search-box">
                            <input type="text" class="form-control search" placeholder="Tìm kiếm" onchange="TimKiemTrangChu()" id="txtTuKhoa">
                            <i class="ri-search-line search-icon"></i>
                        </div>
                    </div>
                    @if (LienKetGioiThieu.Count > 0)
                    {
                        <div class="col-xl-12 col-lg-12 col-sm-12 mt-3">
                            <div class="GreenContainerTopMIddleNew">
                                <div class="GreenContainerTitleNew">
                                    <h2>
                                        <span id="dnn_ctr554_Title_titleLabel" class="ContainerTitle"><a href="#" style="color: #ffffff; text-transform: uppercase">Giới thiệu</a></span>
                                    </h2>
                                </div>
                                <div class="stripe-line"></div>
                                <div class="ClearFloat"></div>
                            </div>
                            <div class="Content-Title style-scroll-15" style=" max-height: 350px; overflow: auto;">
                                <ol class="ps-3 text-muted">
                                    @foreach (var item in LienKetGioiThieu)
                                    {
                                        <li class="py-1">
                                            <a href="@item.Url" class="text-muted">@item.MoTa</a>
                                        </li>
                                    }
                                </ol>
                            </div>
                        </div>

                    }

                    @if (CacCapHoi.Count > 0)
                    {

                        <div class="col-xl-12 col-lg-12 col-sm-12 mt-3">
                            <div class="GreenContainerTopMIddleNew">
                                <div class="GreenContainerTitleNew">
                                    <h2>
                                        <span id="dnn_ctr554_Title_titleLabel" class="ContainerTitle"><a href="#" style="color: #ffffff; text-transform: uppercase">Các cấp hội</a></span>
                                    </h2>
                                </div>
                                <div class="stripe-line"></div>
                                <div class="ClearFloat"></div>
                            </div>
                            <div class="Content-Title style-scroll-15" style=" max-height: 350px; overflow: auto;">
                                @*<input type="text" class="form-control" placeholder="Tìm kiếm..." onchange="TimKKiemCapHoi()" id="txtTuKhoaCapHoi">*@
                                <ol class="ps-3 text-muted" id="DataCapHoi">
                                    @foreach (var item in CacCapHoi)
                                    {
                                        <li class="py-1">
                                            <a href="@item.Url" class="text-muted">@item.MoTa</a>
                                        </li>
                                    }
                                </ol>
                            </div>
                        </div>

                    }
                    @if (BannerTrangChuVT1.Count > 0)
                    {
                        var lstAnhSilde = BannerTrangChuVT1.Where(e => e.IsSilde == 1).ToList();

                        if (lstAnhSilde != null)
                        {
                            <div class="col-xl-12 col-lg-12 col-sm-12 mt-3">
                                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner" role="listbox">
                                        @foreach (var itemBanner in lstAnhSilde)
                                        {
                                            <div class="carousel-item @(itemBanner.ID==lstAnhSilde[0].ID?"active":"")">
                                                <a href="@itemBanner.Url"><img class="card-img-top img-fluid" src="@itemBanner.Image" alt="@itemBanner.Name" onclick="ThemLuotView(@itemBanner.ID)"></a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        foreach (var item in BannerTrangChuVT1.Where(e => e.IsSilde == 0).ToList())
                        {
                            <div class="col-xl-12 col-lg-12 col-sm-12 mt-3">
                                <a href="@item.Url"><img src="@item.Image" class="w-100" title="@item.Name" onclick="ThemLuotView(@item.ID)" /></a>
                            </div>
                        }
                    }


                    @if (DanhSachChuyenMucBenPhaiCT.Count > 0)
                    {
                        foreach (var item in DanhSachChuyenMucBenPhaiCT)
                        {
                            <div class="col-xl-12 col-lg-12 col-sm-12 mt-3">
                                <div class="GreenContainerTopMIddleNew pt-3">
                                    <h3 class="Color-left-title"><a href="/ChuyenMuc/Index?ID=@item.IdCategory" class="text-black">@item.Name</a></h3>
                                </div>
                                <div class="Content-Title">
                                    @if (item.DanhSachBaiViet.Count > 0)
                                    {
                                        <div class="card card-custom m-0">
                                            @{
                                                var Url1 = "/" + Utils.convertToUnSign2(item.DanhSachBaiViet[0].Title).Replace(" ", "_") + "_bv-" + item.DanhSachBaiViet[0].ID + ".htm";
                                                if (!string.IsNullOrEmpty(item.DanhSachBaiViet[0].TuKhoaSeo))
                                                {
                                                    Url1 = "/" + Utils.convertToUnSign2(item.DanhSachBaiViet[0].TuKhoaSeo).Replace(" ", "_") + "_bv-" + item.DanhSachBaiViet[0].ID + ".htm";
                                                }
                                            }
                                            <a href="@Url1" class="text-black"><img class="card-img-top img-fluid img-new2" src="@item.DanhSachBaiViet[0].Thumnail" alt="Card image cap"></a>

                                            <div class="card-body p-0 pt-3 pt-3">
                                                <h5 class="title-new"><a href="@Url1" class="text-black">@item.DanhSachBaiViet[0].Title</a></h5>
                                                <a href="@Url1" class="article-excerpt"><p>@item.DanhSachBaiViet[0].ShortDescription</p></a>
                                            </div>
                                            @if (item.DanhSachBaiViet.Count > 1)
                                            {
                                                <ul class="list-group list-group-flush">
                                                    @foreach (var itemBV in item.DanhSachBaiViet)
                                                    {
                                                        if (itemBV.ID != item.DanhSachBaiViet[0].ID)
                                                        {
                                                            <li class="list-group-item p-0">
                                                                <div class="card border-bottom card-custom card-custom-new">
                                                                    <div class="card-body p-0 pb-3 pt-3">
                                                                        <div class="d-flex">
                                                                            @{
                                                                                var Url = "/" + Utils.convertToUnSign2(itemBV.Title).Replace(" ", "_") + "_bv-" + itemBV.ID + ".htm";
                                                                                if (!string.IsNullOrEmpty(itemBV.TuKhoaSeo))
                                                                                {
                                                                                    Url = "/" + Utils.convertToUnSign2(itemBV.TuKhoaSeo).Replace(" ", "_") + "_bv-" + itemBV.ID + ".htm";
                                                                                }
                                                                            }
                                                                            <div class="flex-grow-1">
                                                                                <div>
                                                                                    <h6 class="card-text font-w600 wraptext-heigth"><a href="@Url" class="text-black">@itemBV.Title</a></h6>
                                                                                </div>
                                                                            </div>
                                                                            <div class="flex-shrink-0">
                                                                                <a href="@Url" class="text-black"><img src="@itemBV.Thumnail" alt="" class="avatar-sm-custom  rounded"></a>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        }
                                                    }
                                                </ul>

                                            }

                                        </div>
                                    }

                                </div>
                            </div>

                        }
                    }

                    @if (BannerTrangChuVT2.Count > 0)
                    {
                        var lstAnhSilde = BannerTrangChuVT2.Where(e => e.IsSilde == 1).ToList();

                        if (lstAnhSilde != null)
                        {
                            <div class="col-xl-12 col-lg-12 col-sm-12 mt-3">
                                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner" role="listbox">
                                        @foreach (var itemBanner in lstAnhSilde)
                                        {
                                            <div class="carousel-item @(itemBanner.ID==lstAnhSilde[0].ID?"active":"")">
                                                <a href="@itemBanner.Url"><img class="card-img-top img-fluid" src="@itemBanner.Image" alt="@itemBanner.Name" onclick="ThemLuotView(@itemBanner.ID)"></a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        foreach (var item in BannerTrangChuVT2.Where(e => e.IsSilde == 0).ToList())
                        {
                            <div class="col-xl-12 col-lg-12 col-sm-12 mt-3">
                                <a href="@item.Url"><img src="@item.Image" class="w-100" title="@item.Name" onclick="ThemLuotView(@item.ID)" /></a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

    </div>
</div>
<input type="hidden" id="TongBanGhi" value="0" />
<input type="hidden" id="TrangHienTai" value="0" />

<input type="hidden" id="TongBanGhiTinMoi" value="@ViewBag.recordsTotalTinTucMoi" />
<input type="hidden" id="TrangHienTaiTinMoi" value="0" />
@section scripts {
    <script>

        $(document).ready(function () {
            LoadPage(0);
        })

        function LoadPage(start) {
            var requestModel = {
                start: start,
                CategoryID: $("#CategoryID").val()
            }
            loading();
            $("#DataBaiViet").load("/ChuyenMuc/_DanhSach", { "requestModel": requestModel }, function (data) {
                $("#TrangHienTai").val(start);
                offLoading();
            })
        }


        function LoadXemThem() {
            var requestModel = {
                start: parseInt($("#TrangHienTai").val()) + 1,
                CategoryID: $("#CategoryID").val()
            }
            if ((parseInt($("#TrangHienTai").val()) + 2) * 6 > parseInt($("#TongBanGhi").val())) {
                $("#BtnLoadXemThem").addClass("d-none");
            }
            else {
                $("#BtnLoadXemThem").removeClass("d-none");
            }
            $("#TrangHienTai").val(parseInt($("#TrangHienTai").val()) + 1);
            $.post("/ChuyenMuc/_DanhSach", { "requestModel": requestModel }, function (data) {
                $("#DataBaiViet").append(data);
                offLoading();
            })
        }

        function LoadXemThemTinMoi() {
            var requestModelBaiViet = {
                start: parseInt($("#TrangHienTaiTinMoi").val()) + 1,
            }
            if ((parseInt($("#TrangHienTaiTinMoi").val()) + 2) * 6 > parseInt($("#TongBanGhiTinMoi").val())) {
                $("#BtnLoadXemThemTinMoi").addClass("d-none");
            }
            else {
                $("#BtnLoadXemThemTinMoi").removeClass("d-none");
            }
            $("#TrangHienTaiTinMoi").val(parseInt($("#TrangHienTaiTinMoi").val()) + 1);
            $.post("/ChuyenMuc/_DanhSachTinMoi", { "requestModelBaiViet": requestModelBaiViet }, function (data) {
                $("#DataBaiVietTinMoi").append(data);
                offLoading();
            })
        }
        

    </script>
}