@using Models
@{
    ViewBag.Title = "Index";
    var datagiohang = ViewBag.Data as List<Bill>; ;
}



<div class="container">
    <input type="hidden" id="idND" value="@Session["IdUser"]" />
    @if (Session["IdUser"] == null)
    {
        <h2 style="opacity: 0.7; text-align: center; padding: 200px 0;">Vui lòng đăng nhập</h2>
    }
    else
    {

        <h2 style="padding: 50px 0; color: rgb(0 177 86);">Đơn Hàng của bạn đã được lưu </h2>
        <table id="cart" class="table table-hover table-condensed">
            <thead>
                <tr>
                    
                    <th>
                        Người Nhận
                    </th>
                    <th>
                        Phí Vận Chuyển
                    </th>

                    <th>
                        Tiền Hàng
                    </th>

                    <th>
                        Tổng đơn hàng
                    </th>
                    
                    <th>
                        Ngày đặt
                    </th>
                    <th>
                        Trạng Thái
                    </th>
                    
                </tr>
            </thead>
            <tbody>
                @{

                    List<int> usedIds = new List<int>();
                    foreach (var item in datagiohang)
                    {
                        if (!usedIds.Contains(item.IdUser))
                        {
                            usedIds.Add(item.IdUser);
                            <tr id="@item.Id">

                                <td>
                                    @item.NameReceiver

                                </td>
                                <td>
                                    30.000đ
                                </td>
                                <td>
                                    @item.TotalNew
                                </td>
                                <td>
                                    @((@item.TotalNew + 30_000).ToString("N0"))đ
                                </td>
                                
                                <td>
                                    @item.DateCreate
                                </td>

                                
                                    @if (@item.Status == 1)
                                    {
                                        <td style="color:deepskyblue ">Đơn hàng mới</td>
                                    }@if (@item.Status == 2)
                                    {
                                        <td style="color:deepskyblue ">Đang xử lý</td>
                                    }@if (@item.Status == 3)
                                    {
                                        <td style="color:deepskyblue ">Đang vận chuyển</td>
                                    }@if (@item.Status == 4)
                                    {
                                        <td style="color:deepskyblue ">Đã giao hàng</td>
                                    }@if (@item.Status == 5)
                                    {
                                        <td style="color:deepskyblue ">Đơn hàng bị hủy</td>
                                    }@if (@item.Status == 6)
                                    {
                                        <td style="color:deepskyblue ">Đã hoàn tất</td>
                                    }@if (@item.Status == 7)
                                    {
                                        <td style="color:deepskyblue ">Đang hoàn trả</td>
                                    }
                                
                                    
                                    
                                 
                            </tr>
                        }
                    }
                }
            </tbody>
            <tfoot>

                <tr>
                    <td>
                        <a href="@Url.Action("Index","Home")" class="btn btn-warning"><i class="fa fa-angle-left"></i> Tiếp tục mua hàng</a>
                    </td>
                    <td colspan="2" class="hidden-xs"> </td>
                    

                </tr>
            </tfoot>
        </table>




        <div class="container-fluid btnSave">
            <div class="d-flex container ">
                <form id="formDathang" class="container col-xl-6">
                    <input type="hidden" name="IdUser" value="@Session["IdUser"]" />
                    <input type="hidden" name="UserName" value="@Session["NameUser"]" />
                    <input type="hidden" name="Phone" value="@Session["PhoneUser"]" />
                    <input type="hidden" name="Email" value="@Session["EmailUser"]" />
                    <input type="hidden" name="Address" id="Address" value="@Session["AddressUser"]" />

                </form>

            </div>
        </div>
    }

</div>

